[2015-06-22 08:53] vineet3011 opened #1 "Decktape phantomjs pull changes work with old rasterize.js files ?"
@astefanutti , dose this solution work with old config files or we need  to update it with respect to decktape.js and i don't want to use  dzsilder  thing ( How i escape it ? ) i want only my pdf with working hyperlink and header footer will it possible with decktape.js  if it's possible could  you give me hint or guide me .

[2015-06-22 14:08] astefanutti commented on #1
@vineet3011, indeed, you can use the improvements I made at the level of PhantomJS with the existing `rasterize.js` example. I've tested it myself on a couple of pages and that worked fine.

I've pushed these improvements in a forked version of PhantomJS here: https://github.com/astefanutti/phantomjs. These will eventually be merged in PhantomJS.

Let me know if that answers your question.

[2015-06-23 07:09] vineet3011 commented on #1
@astefanutti  . Thanks !! working fine for me with same file .....

[2015-06-23 07:09] #1 closed

[2015-06-25 09:32] urvineet opened #2 "css inline style : float in img tag with anchor tag not working"
@astefanutti :  this is part of my current HTML
[code]

[2015-06-29 01:32] obilodeau opened #3 "Text not selectable with current Linux binaries"
I checked out master, built my own phantomjs in the submodule and PDF rendered [some slides](https://github.com/montrehack/slides/tree/master/talks/two-years-of-montrehack). The resulting PDF [although very nice](http://obilodeau.github.io/slides/northsec-two-years-of-montrehack/northsec-two-years-of-montrehack.pdf) doesn't have selectable text.

For me this is still way better than the print-pdf

[2015-06-29 07:37] astefanutti commented on #3
Thanks for the report. Indeed, selectable text is supposed to work and even if you don't need it, that still impacts file size significantly.

Could you please precise on what OS / architecture you've built PhantomJS submodule? Indeed, it is a known issue on Mac 64-bit though it's supposed to be fixed by https://github.com/astefanutti/phantomjs/commit/d32178f5d1ee36595f4b6332969585b93d03ff08. Anot

[2015-06-29 12:43] obilodeau commented on #3
Ubuntu x86_64

[code]

Not sure what's going on here. I see f4ab03 in your phantomjs fork on github and the submodule seems correctly configured:

[code]

[2015-06-29 13:33] astefanutti commented on #3
I haven't been able to generate and test binaries for Ubuntu yet unfortunately. There may have some missing dependencies as documented in:
http://doc.qt.io/qt-5/linux-requirements.html
https://wiki.qt.io/Building_Qt_5_from_Git

I see at least the following dependencies relating to font management / rendering:

    sudo apt-get install libfontconfig1-dev libfreetype6-dev fontconfig

[2015-06-29 14:14] obilodeau commented on #3
I have no problem building phantomjs. I have a problem because I can't checkout commit f4ab03d from your phantomjs fork. This is because you rebased your patches on top of phantomjs and pushed the changes in the same branch thus overwriting the previous history.

Once a commit id is not referred to by some ref like a branch or a tag by git [it will get garbage collected](http://stackoverflow.com/q

[2015-06-29 15:16] obilodeau commented on #3
Finally built previous phantomjs and I still experience the issue. I can select monospace text but not text that has the fancy reveal.js default web font (which is used everywhere).

I think that someone will have to make a patch similar to yours for the Linux platform in ariya/phantomjs#10373. This is beyond my competencies but I would be willing to test any fixes.

[2015-06-29 21:19] astefanutti commented on #3
OK, thanks for the test. I've squashed the two commits to get rid of the garbage collected one as I haven't noticed any regression introduced by the rebase as far as DeckTape is concerned.

It looks like this is a specific Linux issue for embedding / rendering Web fonts. I'll try to dig into it further ASAP.

[2015-07-02 09:06] hadim opened #4 "Replace video tag with an image"
In Chromium and Firefox when you print the page `<video>` tag are replaced by the current image display by the tag.

Would it be possible to do the same in decktape ?

[2015-07-02 09:15] astefanutti commented on #4
Yes, that sounds logical and I guess this could be done at the level of Qt WebKit. DeckTape currently depends on a forked version of PhantomJS (https://github.com/astefanutti/phantomjs) so that it can be given a try.

[2015-07-02 09:39] hadim opened #5 "viewBox not used for inline SVG ?"
I am maybe wrong but the rendered SVG (`<svg width="100%" data-src="schema.svg"></svg>`) with decktape do not use the `viewBox` attribute. See the screenshot below.

While it renders correctly with both last version of Chromium and Firefox.

![svg](https://cloud.githubusercontent.com/assets/528003/8474243/0c9ce1a0-20af-11e5-93f5-095ff0521679.png)

[2015-07-02 09:41] hadim commented on #5
Not that I also use `svg {height: 100%;}` in my css.

[2015-07-02 09:42] hadim commented on #4
So there is now way to add that directly in decktape.

Should I open an issue in https://github.com/ariya/phantomjs

[2015-07-02 09:43] hadim commented on #4
And embed video in PDF are kind of a mess because Linux pdf viewer does not support it...

[2015-07-02 10:03] hadim commented on #5
In fact `viewBox` is used but it seems that `width` and height` attribute of the SVG file are used in priority over the `viewBox` because when I remove the SVG attributes  `width` and height` then the SVG is correctly rendered as in browser.

Any idea to make it a permanent fix ? Should I open an issue for phantomjs ?

[2015-07-02 10:15] astefanutti commented on #4
You can create an issue in PhantomJS though from my recent experience, Qt related issues tend to be overlooked. That may be more effective to directly report these points in Qt issue tracker directly:

https://bugreports.qt.io/browse/QTBUG

[2015-07-02 10:20] hadim commented on #4
Done -> https://bugreports.qt.io/browse/QTBUG-46984

[2015-07-02 10:24] astefanutti commented on #5
A suggested in #4, that may be better to directly report this point in Qt issue tracker directly:

https://bugreports.qt.io/browse/QTBUG

[2015-07-02 11:00] hadim commented on #5
Removing `width` and `height` attributes does not work well. Qt Webkit needs to be fixed. I filled an issue there : https://bugreports.qt.io/browse/QTBUG-46986

[2015-07-02 11:03] hadim commented on #5
@astefanutti I'd like to test it with Qt 5.5. Is the best way replace `phantomjs/src/qt` source code with Qt 5.5 ? Nothing more to do ?

[2015-07-02 12:19] astefanutti commented on #5
Sounds like a good idea. You can replace the `phantomjs/src/qt`. An other approach would be to apply the diff between `5.4.1` and `5.5.0`.

There may be some PhantomJS build resources to update like:
https://github.com/ariya/phantomjs/commit/68ca7c3b5d98b1d3df6db2dffee03676c7920128#diff-d6d9dd3e06474412f0bb613c0b88248bR2

Let me know how it goes.

[2015-07-02 12:20] hadim commented on #5
Well since Qt example browser give the same result as with phantomjs/decktape I won't bother switch phantomjs to `5.5`. Instead I will build qt `5.5` from source with browser example and do the test from the browser example.

[2015-07-02 12:26] astefanutti commented on #5
Great idea, that'd be much easier.

[2015-07-03 11:03] morckx commented on #3
I also had the problem that some fonts rendered as graphics instead of as text with a self-compiled phantomjs, on Ubuntu 15.04.
My solution was to simply use the pre-built windows version of the forked phantomjs with Ubuntu's standard version of wine. That worked flawlessly except that the rendering of opentype fonts was not perfect. However, I simply converted them to truetype fonts an had a perf

[2015-07-03 11:28] hadim commented on #5
I confirm the bug is still present in `5.5.1`, tested with `examples/webkitwidgets/browser`.

[2015-07-03 17:53] astefanutti commented on #5
OK, thanks for head up.

[2015-07-04 16:42] hadim commented on #5
The issue does not appear using QtWebEngine (tested with `examples/webengine/quicknanobrowser/quicknanobrowser`). And after reading some posts about QtWebKit/QtWebEngine, I saw that QtWebKit is not supported anymore... So I guess the best is to wait PhantomJS to move to QtWebEngine as they said there : https://github.com/ariya/phantomjs/issues/12931

[2015-07-04 17:48] hadim opened #6 "Add a slimerjs backend"
Phantomjs is unfortunately based on QtWebKit which is now deprecated and so many rendering issue won't be fixed anytime soon.

The thing is QtWebKit is today year behind modern browser (Chromium and Firefox). Fortunately they  planned to switch to a more modern backend (QtWebEngine, Chromium or Electron, see https://github.com/ariya/phantomjs/issues/10209). But it will obiously take time...

Slime

[2015-07-04 19:09] hadim commented on #6
Here is a first very naive version of the script :

[code]

[2015-07-04 20:43] hadim commented on #6
In fact I jusr realized that the abstraction layer would be really easy to implement since only function with `printer` call will need changes.

I opened an issue in slimerjs to ask wether it is possible to render multiple pages pdf.

[2015-07-04 23:03] hadim commented on #6
See #7

[2015-07-07 09:46] mojavelinux commented on #3
This doesn't seem to be a problem with deck.js, so perhaps it has something to do with web fonts only.

[2015-07-07 09:48] mojavelinux opened #9 "Add an option to export each slide as an image"
Add an option that exports each slide as an image as it is creating the PDF. This can be accomplished by calling the `page.render` method before the `printer.printPage` call.

The benefit of exporting each slide to an image is that those images can then be used independently to create other documents, such as a handout that includes slide notes under each slide image.

Currently, it seems that onl

[2015-07-07 10:08] mojavelinux commented on #3
Upon further exploration, it appears that PhantomJS is converting the web font glyphs into paths. That's why the text cannot be selected.

You can find this out by converting one of the PDF pages to SVG using Inkscape. This reveals that what is in the PDF are actually paths and not embedded font glyphs. Otherwise, Inkscape would try to map the glyphs to text objects.

[code]

So this appears to be

[2015-07-07 10:12] hadim commented on #9
In fact `page.render(page_0.pdf)` should work. See http://phantomjs.org/api/webpage/method/render.html.

[2015-07-07 10:25] mojavelinux commented on #3
The workaround to this problem seems to be to install the TTF or OTF font on your system (and perhaps disable the web fonts import). Then, the custom font can be selected.

[2015-07-07 10:26] mojavelinux commented on #3
It's rather odd that it makes a difference that the font was loaded via the web, but that seems to be what the results are telling me.

[2015-07-07 19:38] mojavelinux commented on #9
Actually, that's different. It renders the unstyled slide to PDF.

Regardless, it doesn't help to have more PDF files. If we wanted that, we
could simply split the PDF file apart. What we need are images that can be
used independently, like in a web page, gallery or another PDF (but
embedded).

[2015-07-07 23:39] mojavelinux commented on #9
Here's the code that we'd need once the option is enabled.

[code]

[2015-07-08 16:06] astefanutti commented on #6
@hadim that's a great idea! And thanks for the detailed analysis BTW.

The only concern that I have is about the _quality_ of the exported PDFs. I initially had in mind a _high-quality_ exporter for DeckTape. That being said, I don't see any problem, rather benefits, integrating SlimerJS right now and have it improved over time.

I'll review and integrate #7 ASAP.

[2015-07-08 16:13] hadim commented on #6
I close here. Discussion can continue in #7.

[2015-07-08 16:13] #6 closed

[2015-07-08 16:24] hadim commented on #4
I close since it depends on QtWebkit.

[2015-07-08 16:24] #4 closed

[2015-07-08 16:24] hadim commented on #5
I close since it depends on QtWebkit.

[2015-07-08 16:24] #5 closed

[2015-07-09 15:40] astefanutti commented on #9
I've got it working. Just need to polish it a bit and I'll push it.

[2015-07-09 19:34] mojavelinux commented on #9
Super!

[2015-07-15 16:25] #9 closed

[2015-07-15 16:27] mojavelinux commented on #9
Nice! Thanks!

[2015-07-15 16:27] astefanutti commented on #9
@mojavelinux let me know if that works for you.

[2015-07-15 17:17] mojavelinux commented on #9
Works great!

I have two suggestions:

1. I find the order of arguments to be odd. Most commands take options before the filename(s). However, decktape.js puts all options at the end of the command.

2. It might be a good idea to make the filename length of each screenshot the same by padding the number with zeros (e.g., slides_01_x1.png). This helps with sorting.

[2015-07-22 14:48] vernhart opened #12 "Blank output when using External Markdown in reveal.js"
To test this, I started with the sample html file that comes with reveal.js and stripped out the entire `<div class="reveal"> ... </div>` and replaced it with the following code bits.

This works:

    <div class="reveal">
      <div class="slides">
        <section>Normal Text</section>
      </div>
    </div>

This works:

    <div class="reveal">
      <div class="slides">
        <section data

[2015-07-22 16:09] astefanutti commented on #12
Indeed, I've been able to reproduce this issue with the reveal.js Markdown example: https://github.com/hakimel/reveal.js/blob/44548ba357490943cfa6a2e5139863bd4fc4f66a/plugin/markdown/example.html.

This is likely to be dealing with the loading of the external markdown document: https://github.com/hakimel/reveal.js/blob/44548ba357490943cfa6a2e5139863bd4fc4f66a/plugin/markdown/markdown.js#L245. Thou

[2015-07-23 01:36] vernhart commented on #12
A quick search leads me to phantomjs's onAlert handler which seems like a quick way to convert alerts to console.log messages: http://phantomjs.org/api/webpage/handler/on-alert.html

[2015-07-23 09:15] astefanutti commented on #12
It happens that the `XMLHttpRequest` status is actually `0` and that the returned `responseText` is empty. I've isolated the smallest piece of code that instantiates a `XMLHttpRequest` and sends a `GET` request:

[code]
And still face the empty response!

I don't see anything wrong in the above example. So I suspect this an issue at the level of PhantomJS though that'd be a pretty big one.

[2015-07-23 15:41] astefanutti commented on #12
I've just been tested it with SlimerJS as I'm working on supporting it as another backend in addition to PhantomJS and the external markdown document gets loaded and rendered correctly. So definitely a PhantomJS issue (or Qt WebKit possibly). Still trying to find if that is an option missing or a bug...

[2015-07-30 23:53] ThomasG77 opened #13 "No HTML link is generated"
I'm working with shower.js
My OS is Ubuntu 14.04 64bits
I'm trying to render the presentation to PDF
My phantom build is working

I run the following command

     ./phantomjs/bin/phantomjs decktape.js shower http://labs.webgeodatavore.com/presentation-openstreetmap/ output.pdf

I have two issues:

* The first one is identical to #3: On Ubuntu,it rasterizes all the slides content. Using wine with

[2015-07-31 08:13] astefanutti commented on #13
Unfortunately, the second issue that you face, that is hyperlinks not being rendered as clickable links in the PDF documents, is a consequence of the first one, that is Web fonts text being rendered as outline paths and not embedded / selectable text. A fix similar to https://github.com/astefanutti/phantomjs/commit/d32178f5d1ee36595f4b6332969585b93d03ff08 is required for Linux OS. In the meantime,

[2015-08-11 17:51] opensource21 opened #14 "Error printing an reveal-presentation"
I tried to print an presentation with decktape. At the end I get an error from phantomjs
[code]
The PDF seems complete, but the PDF isn't printable :-(

[2015-08-12 08:45] astefanutti commented on #14
When you say the PDF isn't printable, do you mean you cannot open it?

In order to troubleshoot your issue, could you please precise what version of PhantomJS you're using and on what OS? Besides, would you have more logs to share, event the original HTML presentation so that I can give it a try?

[2015-08-12 10:31] opensource21 commented on #14
It can be opened, but if you try to print it the Acrobat-Reader finish with an error.
The version is downloaded via `curl -L http://astefanutti.github.io/decktape/downloads/phantomjs-msvc2013-win64.exe -o bin\phantomjs.exe`
For the standard reveal.js demo phantom.js crashes with an error too, but the pdf is printable. I will try to strip my presentation down, so that I can share it. At the moment

[2015-08-12 14:43] astefanutti commented on #14
I've tried exporting the standard reveal.js presentation and get the following error message:

[code]

This error message is caused by PhantomJS that does not support the `<video>` tag, as detailed in #4. This is just an error message that does not impact the rendering of the remaining presentation, though `<video>` elements won't be rendered in the PDF documents.

As for the printing issue, I hav

[2015-08-12 15:22] opensource21 commented on #14
Damn you are right it was a problem of the Acrobat Reader. After creating the example and a reboot of the computer I tried it again and now it works. So it's only the error message I get at the end. It's a windows message, but I can ignore it.
![image](https://cloud.githubusercontent.com/assets/429360/9227972/87a4c5ca-4116-11e5-9d8b-bb766202fa7b.png)

Thanks for your support.

[2015-08-12 15:22] #14 closed

[2015-08-27 16:04] VinceZK opened #15 "Would you help to compile a Linux(Centos) version?"
Tested the MAC version, it works perfect. Would you also help to compile a Linux version ?

[2015-08-27 17:11] astefanutti commented on #15
I don't have Linux boxes readily available at the moment though I'll be uploading corresponding binaries once I have access to them.

[2015-09-01 05:53] gavincarr commented on #12
Just wanted to add a note that the same issue appears to affect remark.js as well - including the markdown inline in a text area works fine, but including via a separate markdown file using remark's sourceUrl results in a blank pdf.

[2015-09-01 06:13] gavincarr commented on #15
I've got a working CentOS7 version here if you'd like it posted somewhere.

[2015-09-01 10:59] astefanutti commented on #15
@gavincarr definitely!

Would you mind creating a PR into the [`gh-pages`](../tree/gh-pages/) branch to upload it into something like `downloads/phantomjs-linux-centos7-amd64`. Just make sure you've run [UPX](http://upx.sourceforge.net) to compress the binary size.

[2015-09-01 11:43] gavincarr commented on #15
@astefanutti Done: https://github.com/astefanutti/decktape/pull/16

[2015-09-01 18:21] astefanutti commented on #15
@gavincarr Thanks a lot!

@VinceZK could you please test the uploaded version for Linux CentOS 7 and close that issue if that works OK.

[2015-09-04 09:51] VinceZK commented on #15
@astefanutti , I tested in my CentOS6.4 (Sorry I do not have CentOS7 right now), the following error reports:  "error while loading shared libraries: libpng15.so.15: cannot open shared object file: No such file or directory"

I thought some lib is missing. And I found the original CentOS binary is 35MB, while @gavincarr gives the binary with 14MB.

[2015-09-04 10:22] gavincarr commented on #15
@VinceZK CentOS6 only comes with libpng12.so.0, so the C7 version won't work for you. I'll try and build a C6 version over the weekend. Are you using 64-bit or 32-bit?

My original binary was around 35MB as well, but running it through UPX dropped it down to 14MB.

[2015-09-04 13:58] VinceZK commented on #15
@gavincarr Thanks for the clarifying. My CentOS6 runs on 64-bit machine.

[2015-09-04 15:30] Martin-Jung opened #17 "Module printer not found?"
Hi there,

I try to make a pdf out of a reveal.js presentation. Haven't used phantomjs before and thus had to compile it myself (running linux debian 7.0).
The subsequent call to decktape however returns some strange error messages:
Call:
`bin/phantomjs decktape.js reveal.js http://127.0.0.1:8001/index.html out.pdf`

[code]

[2015-09-04 16:13] astefanutti commented on #17
Have you compiled PhantomJS from the [forked version](https://github.com/astefanutti/phantomjs) that contains improvements and the `printer` module that DeckTape leverages?

You may find more information in the [Build](../#build) section.

[2015-09-04 18:01] Martin-Jung commented on #17
I have not... Thanks, will try and close if successful ;)

[2015-09-04 19:30] #17 closed

[2015-09-04 21:17] astefanutti commented on #17
Would you mind uploading your Debian 7 binary version in the [downloads](../tree/gh-pages/downloads) directory so that others can benefit from it?

[2015-09-04 21:38] Martin-Jung commented on #17
Sure, but it is rather big in comparison? Compiled bin is around 57mb.
Maybe I forgot some special flags ?

[2015-09-04 21:44] astefanutti commented on #17
Indeed, you just have to compress the file with [UPX](http://upx.sourceforge.net).

[2015-09-04 22:10] Martin-Jung commented on #17
Reduced filesize to about 20mb. Added and created pull.
I am actually running debian 8 - jessie.

[2015-09-07 00:39] gavincarr commented on #15
@astefanutti I've just created a pull request with a CentOS6 x86_64 build of phantomjs, if you could merge when you get a chance.

@VinceZK Could you test this version once it's merged?

Thanks.

[2015-09-07 11:26] astefanutti commented on #15
@gavincarr I've just merged it. Thanks a lot!

[2015-09-07 13:14] VinceZK commented on #15
 @astefanutti I tested CentOS6 x86_64 version, and got some situations. When printing some pages, the size is not right. It doesn't happen in normal phantomjs binary.
@gavincarr At first, I think it's only the CentOS6 binary. Then I tested MAC binary, the same problem.

You can find the difference from the 2 attached images. The first is the normal binary, and the second is the desktape bianry. I

[2015-09-07 13:33] VinceZK commented on #15
And I tested to snapshot images (.png), it works fine. So it only effects .pdf snapshots.

[2015-09-07 14:43] astefanutti commented on #15
@VinceZK I've tested the `examples/rasterize.js` script with the PhantomJS 2.0.0 Mac OS X official binary and the DeckTape Mac OS X binary and cannot see any differences for PDF output on http://expressjs.com/ and http://www.jrj.com.cn. What version of PhantomJS _normal_ binary are you using?

That being said, DeckTape is meant to be used to export HTML presentations to PDF. If this issue is meant

[2015-09-07 16:00] VinceZK commented on #15
@astefanutti I did more tests, and found if you set page format to 'A4', it will reproduce the error.
Please try command line:  $phantomjs examples/rasterize.js http://www.jrj.com.cn out.pdf A4

Maybe DeckTape is free of the issue. But the official code line has no confirmed schedule to the "link" issue. I'd like to take some time to figure it out based on your code line.

Thanks anyway:-)

[2015-09-09 19:43] dierobe opened #21 "Filename missing"
Hello,

Im trying to run decktape on localhost. Using MAC OS X.

I run command:

./bin/phantomjs decktape.js reveal http://localhost/test/slides.html test.pdf

I get this error:

filename argument is required

Usage: phantomjs decktape.js reveal [options] <url> <filename>

url          URL of the slides deck
filename     Filename of the output PDF file

What am I doing wrong?

[2015-09-09 19:47] #21 closed

[2015-09-09 19:49] dierobe opened #22 "Filename missing"
I think there is an issue when the slide URL has a "&" character

bin/phantomjs decktape.js http://localhost/test/index.php?r=test/viewslides&id=64 test.pdf

I get:

filename argument is required

Usage: phantomjs decktape.js [options] [command] <url> <filename>

command      one of: automatic, csss, deck, dzslides, flowtime, generic, impress, remark, reveal, shower, slidy
url          URL of the

[2015-09-09 19:58] #22 closed

[2015-09-21 20:55] dirk-thomas opened #23 "export using reveal.js does not stop after the last slide"
When invoking decktape on a slide set the progress shows e.g. 10 slides but keeps counting up indefinitely.

As a workaround I currently use the `generic` command instead which works fine for me.

[2015-09-21 21:38] astefanutti commented on #23
Could you precise the reveal.js version you're using? Would that be possible for you to share the presentation for which you face the issue so that I can identify the root cause?

[2015-09-21 21:48] dirk-thomas commented on #23
I am using the latest released version of reveal.js (3.1.0).

Based on your comment I have boiled down my slides to a minimum example: https://gist.github.com/dirk-thomas/e184539d8db4144f294e

The problematic items seems to be the `div` after the last slide (https://gist.github.com/dirk-thomas/e184539d8db4144f294e#file-example-html-L48). If I remove that div the export finishes correctly.

In my f

[2015-09-21 22:09] astefanutti commented on #23
Thanks for the details. It's enough for troubleshooting. DeckTape relies on the `Reveal.isLastSlide` API to check whether it should navigate to the next slide, see: https://github.com/astefanutti/decktape/blob/12a7813aabf34131d426046b0d0a0a341b03e385/plugins/reveal.js#L41.

So chances are the issue is actually on reveal.js API implementation side. I'll revert back to you when I have a confirmation

[2015-09-21 22:23] dirk-thomas commented on #23
Thank you for your fast feedback. I have filled com/hakimel/reveal.js#1366 as a replacement.

Btw. moving the extra different in front of all slide sections made it work for me too.

[2015-09-21 22:23] #23 closed

[2015-10-21 15:41] astefanutti opened #24 "Add an option to avoid creating one slide per fragment"
Ideally, that should be a global option supported for all presentation backends.

[2015-10-23 11:03] amouat commented on #12
Is there a workaround for this? Do I have to copy my markdown into the HTML file or can I change to slimerJS?

[2015-10-23 12:02] astefanutti commented on #12
@amouat, I still need to identify to root cause of this issue that only happens when loading external file with `XMLHttpRequest`. In the meantime, inlining the markdown works but I agree that's far from ideal. I'll investigate further on this ASAP.

[2015-10-30 00:12] angus-g opened #25 "Reveal plugin error with custom keybindings"
I've got a reveal.js presentation with

[code]

following the call to `Reveal.initialize()`. I get the following errors in this case:

[code]

However, by removing the call to `Reveal.configure()`, a PDF is generated as expected.

[2015-10-31 14:37] dylangmiles commented on #12
@astefantutti, I got it working. The `XMLHttpRequest.open` call in the markdown.js function passes false for the async parameter. On return to the `onreadystatechanged` callback the status is zero and the response text is empty. I suspect that phantomjs is not supporting synchronous requests??

Anyway, I then passed in false to the open call which loads the markdown. But the convertSlides function

[2015-11-13 17:28] amouat opened #27 "Docker Container Version"
Hi,

I've made a Dockerized version of Decktape. It's kinda nice, as you don't need to worry about install phantomJS etc. Instead you can just run something like:

    docker run amouat/decktape reveal http://192.168.99.100:8000/ /pres.pdf

And you're at the races. If you like, I'm happy for you to copy the Dockerfile into your project, which has the advantage that you can set-up an automated buil

[2015-11-13 17:42] hadim commented on #27
Very cool iniative ! That should be the default way to use decktape :-D

[2015-11-13 18:06] astefanutti commented on #27
@amouat awesome! I've just created a Docker Hub repository and setup automated build: https://hub.docker.com/r/astefanutti/decktape/.

There is already a Dockerfile (just init by @ssanderson) though feel free to update it. Beside, that'd be great if you could contribute the usage instruction that you've put together in the README. Let me know if you prefer I deal with it.

[2015-11-13 18:12] amouat commented on #27
Was that Dockerfile contributed 14 hours ago? Weird coincidence!

You might want to add the last few lines from my Dockerfile where I chmod the binary and set the ENTRYPOINT and CMD, which makes it a little easier to use.

Thanks for setting up the Hub build.

And yeah, just take the text from my repo, that's totally fine (remember to change the image name in the examples though).

[2015-11-13 20:01] ssanderson commented on #27
@amouat am I not `chmod`ing in the current Dockercfile?  If so that's a bug I think.  I thought I had added that but I may have pushed before making that change.  Also :+1: to setting ENTRYPOINT and CMD.

With your example of `docker run amouat/decktape reveal http://192.168.99.100:8000/ /pres.pdf`, I think that will end up writing the resulting pdf into the container filesystem, right?  I imagine

[2015-11-13 20:19] hadim commented on #27
I will make a PR and also add some instructions to the README.

[2015-11-13 21:10] hadim commented on #27
We can continue the discussion there #28

[2015-11-15 19:33] astefanutti commented on #27
I've just merged #28. Thank you all!

[2015-11-15 19:33] #27 closed

[2015-11-15 19:34] #15 closed

[2015-12-02 15:02] darribas opened #29 "decktape/phantomJS fails with upgrade to Ubuntu 15.10"
I had decktape happily running until I upgraded my Ubuntu box to 15.15. Then running the forked version of  `phantomjs` produces the following error:

[code]

I'm thinking it's probably because that binary was compiled on ICU52 and the only version available on the Ubuntu 15.10 repos is 55? Any advice most appreciated.

Let me also take the opportunity to thank the developers for an awesome piece

[2015-12-02 15:31] astefanutti commented on #29
Your understanding is correct. PhantomJS static build on Linux is a long story as per ariya/phantomjs#12948. To work around that issue, you can either:
- Use the Docker image as documented in https://github.com/astefanutti/decktape#docker
- Recompile the improved version of PhantomJS as documented in https://github.com/astefanutti/decktape#build.

If the above does not work for you, I'll try to pr

[2015-12-02 16:45] darribas commented on #29
I've tried compiling PhantomJS unsuccessfully, here's the error I get after a while having my desktop full-speed:

[code]

I'd rather have it running natively as I have the creation of pdf's on scripts that run not only on Linux but of OSX and there it works well as it is, so I'd prefer to stick to a cross-platform codebase.

Do you have any suggestions? I basically installed all the dependencies

[2015-12-02 17:34] astefanutti commented on #29
Have you pulled the latest revision of DeckTape? You should have the `build.py` script which is the most recent way of building PhantomJS. So that'd be better if you'd use that script.

Unfortunately the error that you faced doesn't ring a bell to me. You may search / reach out the PhantomJS project directly.

On my side, I'll try having a reproducible Ubuntu build with a Docker image ASAP so that

[2015-12-02 18:35] darribas commented on #29
Sorry my bad!!! I was on an older version. I pulled the latest and the greatest, run `./build.py` and it worked!

Thanks very much for all the help and support!

[2015-12-03 08:43] astefanutti commented on #29
Great!

I'll follow-up with the PhantomJS Linux static build issue. At some point, if no progress is made, I'll upload  a specific binary for Ubuntu 15.15 as well.

In the meantime I think it's safe closing this issue.

[2015-12-03 08:43] #29 closed

[2015-12-07 18:01] s-bernard commented on #12
@dylangmiles Your modifications make phantomjs crash on my system, I have developped another version which use xhr.onload to call the callback.

[0001-Set-asynchronous-load-of-external-markdown.txt](https://github.com/astefanutti/decktape/files/54381/0001-Set-asynchronous-load-of-external-markdown.txt)

[2015-12-08 20:17] acdcjunior commented on #12
I'm facing the same problem (reveal.js+markdown) and am using @s-bernard's patch. It is working so far.

[2015-12-09 21:32] obilodeau opened #30 "Docker setup doesn't have access to user fonts"
When building using docker in Linux, fonts installed in `~/.local/share/fonts/` won't work. I guess a -v mount trick could be used. I decided to build phantomjs instead.

I haven't confirmed if docker has access to globally installed fonts.

[2015-12-10 20:16] acdcjunior commented on #12
@s-bernard I'm not 100% on this (because I changed so much more code :D), but I think your patch somehow makes the slides' background style stop working. Something like this:

    # SlideOne
    ---

    # SlideTwo

...won't make the second slide's bg color red, as it should. Changing the `Reveal.layout()` line to `Reveal.sync()` seems to fix it for me.

[2015-12-11 11:06] s-bernard commented on #12
I changed the line but it still breaks revealjs tests: https://github.com/hakimel/reveal.js/pull/1458
And I am not good enough in JS to understand what really happens.

[2016-01-19 18:43] astefanutti commented on #12
Issue ariya/phantomjs#13908 has just been created and confirms synchronous AJAX requests don't work in current version of PhantomJS. So we may have a fix for this soon hopefully.

[2016-01-29 15:09] lordofthejars opened #31 "Exception thrown when using command and options together"
Running something like `./bin/phantomjs decktape.js -p 1000 generic http://localhost:8080/ a.pdf` gets the next exception: `Error opening /Users/user/git/decktape/generic: No such file or directory`

[2016-01-29 15:16] riezebosch commented on #24
For reveal.js this is possible by turning fragements via the url: http://yourpresentation/**?fragments=false**

[2016-02-12 09:51] astefanutti commented on #3
Reported as a regression in ariya/phantomjs#13997.

[2016-02-19 18:27] astefanutti commented on #12
So ariya/phantomjs#13908 has been fixed. I've just rebased DeckTape on ariya/phantomjs@3d9a327 and I confirm it works now!

So I'll be uploading updated binaries with the fix ASAP. In the meantime, you can pull latest DeckTape revision and build the PhantomJS submodule.

[2016-02-19 21:14] acdcjunior commented on #12
Great, thanks @astefanutti!

[2016-02-22 05:01] mojavelinux commented on #3
If the font is on your system, and the `@font-face` declaration looks for a local font first (such as when using Google Fonts), you don't need to disable the font import.

[2016-02-22 05:02] mojavelinux commented on #3
From upstream:

[2016-02-22 05:02] mojavelinux commented on #3
...we know that this is limited to text that uses web fonts that aren't on the local system.

[2016-02-22 05:07] mojavelinux commented on #3
As a workaround, you can grab the webfont TTF files and put them into `~/.fonts`. You could write a script that puts them there before the export and removes them afterwards. Not ideal, but gets the job done.

[2016-02-22 08:29] astefanutti commented on #3
I've provided the minimal test case below to the upstream ariya/phantomjs#13997 issue:
[code]
When executing `phantomjs rasterize.js test.html test.pdf`, the output PDF is 6 KB on Mac OS X and Windows while it's 122 KB on Debian 7. Besides, the text is not selectable in the latter.

So at least the PhantomJS dev team now has a clear reproducer. The _good_ news is that it's a regression apparently

[2016-02-23 10:04] astefanutti opened #34 "CommonJS compliant pattern for DeckTape plugins"
Refactor the existing plugins to be more compliant with standard CommonJS patterns.

As some properties are common to all the plugins (actually added in the main `decktape.js` script), exporting anonymous prototype with prototypal inheritance may be a better option over exporting anonymous function.

[2016-02-23 10:05] astefanutti opened #35 "Add support for Shower version 2.x"
The existing `shower.js` plugin does not work with the new Shower 2.x architecture.

[2016-02-23 23:56] mojavelinux opened #36 "Document why a custom PhantomJS build is necessary"
Document the reason(s) why decktape relies on a custom build of PhantomJS. The documentation will serve two purposes:

1. Help users understand why these steps are necessary; justify the extra overhead
2. Track the upstream change request (where we are in aligning with upstream)

My understanding is that the patch to PhantomJS is to provide a printer module that can combine multiple PDF pages into

[2016-02-24 10:14] astefanutti commented on #36
Here is the list of items to be contributed to PhantomJS upstream so that we don't need to maintain a custom build for it, which is the ultimate goal, and relieve the end-users from the extra overhead:

| Item | Reference | PR Status |
|------ | ----- | ----- |
| Printer module API | astefanutti/phantomjs@d8bc4b071f7fa776f9a38f1cdb1e921c64f48a8c | :exclamation: todo |
| Add support for capturing v

[2016-03-02 09:02] mojavelinux commented on #36
This is fantastic information! Can I add it to the README? (Also, could we switch the README to AsciiDoc while we're at it?)

Now I understand why I was having trouble with that when I was using phantomjs directly. I found a workaround by setting the width and height to the computed width and height (which is odd that it works), but having support out of the box would be so much better.

[2016-03-02 09:25] astefanutti commented on #36
@mojavelinux you have my blessing (both for the README update and the AsciiDoc migration :tada: ), making it  clear the ultimate goal is to avoid having to deal with that [astefanutti/phantomjs](https://github.com/astefanutti/phantomjs) fork.

[2016-03-02 09:52] mojavelinux commented on #36
Excellent! I'll send a PR as soon as I get a chance.

[2016-03-02 14:48] andrewrech opened #37 "Decktape does not render embedded images in SVGs"
### Issue

Decktape does not load certain SVGs with reveal.js. Possibly related to #12?
### Minimal reproducible example

http://bit.ly/1QLgsv1
### My attempts to fix
- Linux vs. OSX
- Rebuilt phantom.js
- Reveal.js with no plugins / default themes
- Reveal.js local server vs. web

Thank you in advance for considering this issue, and for this wonderful tool!
Andrew

[2016-03-03 08:48] astefanutti commented on #37
Hi Andrew,

Thanks for the detailed report!

I've tried with PhantomJS `rastersize.js` example on the document below and the SVG is rendered correctly:
[code]

So it looks like something happening with Reveal.js that prevents the SVG from loading / rendering correctly.

Thanks for the nice feedback. I'll dig into it ASAP. You may want to give a star, that helps prioritising things :wink:.

Antonin

[2016-03-04 09:05] mojavelinux commented on #36
PR sent!

[2016-03-04 11:03] #36 closed

[2016-03-12 19:41] 6C3C41 commented on #37
Great, let me know if there is anything I can do to help. Js experience minimal.

[2016-03-14 08:19] astefanutti commented on #37
@6C3C41 no worries, I'll work on it ASAP.

[2016-03-14 11:49] jensgro opened #42 "Module printer not found"
As in Issue #17 I have a problem with the printer. I installed PhantomJS as told in the Build-section but nevertheless it doesn't work.
Afterwards I saw that this tool isn't capable to work with Shower 2 but nevertheless I find it awkward that PhantomJS doesn't work although it is installed. Can there be a conflict with the installed "real" PhantomJS 2?

[2016-03-14 13:07] astefanutti commented on #42
@jensgro that's really strange. If you confirm you use the binary as documented in the install section, you shouldn't be getting that error for sure. What exact binary are you using?

For Shower 2, they broke the API so the Shower plugin needs to be adapted. You can track progress on this in #35.

[2016-03-14 13:55] jensgro commented on #42
I started "build.py" inside the folfer "phantomjs". And according to the Changelog I have installed PhantomJS 2.1.0.

[2016-03-14 13:59] astefanutti commented on #42
If you build the forked version of PhantomJS as per the _build_ instructions, you should use the produced binary in the `bin` directory. You should not download 2.1.0 binary.

Please note that you could use the provided binaries for the forked version of PhantomJS as documented in the _install_ section. That's preferable over to build PhantomJS yourself if a binary version if provided for your tar

[2016-03-14 14:26] jensgro commented on #42
Okay, then the path was the problem. I wrote in my terminal
`phantomjs/bin/phantomjs decktape.js shower <url> name.pdf`  and it started to work. Because I use Shower2 it halted very fast, but your script seems to be working. Only the path should be actualised in the documentation.

Thanks for your help. I hope for the new Shower 2 version.

[2016-03-14 14:26] #42 closed

[2016-03-16 14:50] patrickdepinguin commented on #3
I have not seen progress on this issue either here or on the referenced phantomjs issue. What is the current status of this issue?

[2016-03-16 14:54] astefanutti commented on #3
@patrickdepinguin no progress unfortunately yet. Though that's a major issue so I'll jump into it ASAP to move forward on this.

[2016-03-16 15:25] patrickdepinguin commented on #3
@astefanutti Thanks.
One note: I'm trying to convert a remark.js slideshow to PDF. In the CSS I specified plain font names; they appear in my ~/.fonts directory and the HTML displays them correctly.
However, when using decktape, the resulting fonts would fall back to a standard sans-serif font. It seems that decktape/phantomjs does not find the custom fonts.
For this reason, I was forced to use th

[2016-03-22 17:25] eljefe6a opened #44 "Better Flexbox Support"
My Remark slides use Flexbox extensively. After many hours I finally figured out how to make my slides kind of work with Phantom 2.0's Flexbox support. Are there plans to update to Phantom 2.1? It has much better Flexbox support.

[2016-03-23 10:14] astefanutti commented on #44
@eljefe6a the improved PhantomJS version maintained for DeckTape (astefanutti/phantomjs@cc06f444e4778d181e4df9523077177a6dcb4264) is already rebased few commits ahead of PhantomJS 2.1 (ariya/phantomjs@3d9a327). Though the binaries need to be built and uploaded.

What platform / OS do you use? If you can build PhantomJS locally as documented in the build instruction, that should do it (and eventual

[2016-03-23 22:13] eljefe6a commented on #44
I'm on MacOSX. I followed the instructions to build Phantom (version is `2.2.0-development` btw).

With the new version, I tried to use my original flex CSS `flex`. It didn't work. After googling and trying some things, I finally went through qtwebkit's code. It looks like even at QT 5.5 you still have to prefix everything like `-webkit-flex`. Putting this out there on the interwebs because my goo

[2016-03-23 22:13] #44 closed

[2016-03-24 07:57] astefanutti commented on #44
@eljefe6a thanks for the details. Hopefully flexible box support will improve in newer QT versions.

[2016-03-29 07:56] astefanutti commented on #31
Thanks for the report. It's been fixed @e623da42e056c5025e9bc2fed62c4eef0b6ba62f.

[2016-03-29 07:56] #31 closed

[2016-04-06 21:38] astefanutti commented on #3
I've isolated a minimal Qt application that demonstrates this is a regression from Qt 4.8 to Qt 5.x. I've created [QTBUG-52417](https://bugreports.qt.io/browse/QTBUG-52417) and I'll try to dig into Qt to eventually have a fix.

[2016-04-11 13:53] gdrolet opened #45 "Escaping problem with relative path on Windows"
I run this command in Windows 7 (64):

`> bin\phantomjs.exe decktape.js reveal file:///E:\Code\conf1.html E:\Temp\test_decktape.pdf`

I get the pdf but there's also an error that seems to be caused by escaping of special characters in the windows shell:

[code]

Is this a bug or is just that I should specify my input file name differently?

[2016-04-12 09:49] astefanutti commented on #45
It may be related to ariya/phantomjs#14194. Is the CSS file path relative?

[2016-04-12 15:27] gdrolet commented on #45
In the HTML, there's this block:

[code]
<script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? /E:/Code/conf1_files/reveal.js-3.2.0/css/print/pdf.css' : 'E:/Code/conf1_files/reveal.js-3.2.0/css/print/pdf.css';
      document.getElementsByTagName( 'head' )[0].appendCh

[2016-04-12 15:34] astefanutti commented on #45
The original issue is likely related to ariya/phantomjs#14194.

When you test with the absolute path, could you try adding the `file://` prefix?

As you're using Reveal.js, one option is to run `grunt serve` so that it's served on `http://localhost:8000` and export it by using HTTP.

[2016-04-12 16:16] gdrolet commented on #45
Ok thanks. And how would I export it using HTTP? With the Chrome PDF exporter plugin?

I tried creating the HTML (from markdown) with the self_contained = FALSE (I was using self_contained = TRUE). In the resulting HTML I get much more paths to reveal.js files but even after making the path modifications it doesn't work. In fact I get many more error messages (one for each of the paths its trying

[2016-04-12 17:24] gdrolet commented on #45
Ok I got it to work by after I saw one of the pandoc options that was generated in R, when it converts a markdown document into HTML. I noticed this option `--variable "revealjs-url=conf_1_files\reveal.js-3.2.0"`, that I replaced with an absolute path. I couldn't add `file:///` without an error in the call to pandoc (maybe due to this bug: https://github.com/jgm/pandoc/issues/1558. I will try upda

[2016-04-13 07:05] astefanutti commented on #45
Great!

I'll update DeckTape once ariya/phantomjs#14194 is fixed so that we can test your use case.

[2016-04-14 07:47] astefanutti commented on #35
Fixed @f9c595c29c7d7687e2586676fc01711fbc8f01d8.

[2016-04-14 07:47] #35 closed

[2016-04-21 03:48] acdcjunior commented on #12
@astefanutti Just to confirm, are the binaries still the previous ones? I mean, to get the fix we have to build the PhantomJS submodule ourselves for now, right?

[2016-04-21 07:13] astefanutti commented on #12
@acdcjunior your understanding is correct. I'll update the binaries ASAP though I'm waiting to have a couple of other fixes before.

[2016-05-05 01:03] anaderi opened #48 "remark.js printing issue if slides are passed to remark.create as a separate file"
error

1. wget https://gnab.github.io/remark/\#1
2. download remark js locally
3. jekyll serve
4. open http://localhost:4000 works nicely
5. ~/git/decktape/bin/phantomjs  ~/git/decktape/decktape.js remark   http://127.0.0.1:4000/ --slides 1-5 remark.pdf
[code]
6. move contents of     <textarea id="source">    </textarea> into body.md and add argument to remark.create           `sourceUrl: 'body.md

[2016-05-05 08:35] astefanutti commented on #48
I suspect this is related to #12 and the root cause issue ariya/phantomjs#13908. The fix for this issue has already been integrated into DeckTape `master` branch.

Would you be able to build the latest version of DeckTape / PhantomJS as documented in the build section and give it a try?

[2016-05-05 08:46] astefanutti commented on #2
@urvineet sorry for the delay. I've just tested it in the latest version of DeckTape / PhantomJS (that's been upgraded to Qt 5.5.1) and it seems to work as expected. Feel free to reopen if that does not work for you.

[2016-05-05 08:46] #2 closed

[2016-05-05 09:10] anaderi commented on #48
@astefanutti , I've used prebuilt phantomjs for Mac OS X. will try to rebuild it by hand, but since #12 and  ariya/phantomjs#13908 seems to be pretty old, I'd expect that prebuilt binary should have it already. will try to rebuild it anyway (although it seems to depend on plenty of various stuff and may take some time)

[2016-05-05 09:17] astefanutti commented on #48
@anaderi unfortunately I haven't uploaded pre-built binaries for a while so that ariya/phantomjs#13908 isn't included in them. Let me re-upload Mac OS X binary that I have so that you can give it a try and save you the hassle of rebuilding it locally.

[2016-05-05 11:19] anaderi commented on #48
@astefanutti ok, let me know as you upload it, since building didn't fly out of the box )

[2016-05-05 12:23] astefanutti commented on #48
@anaderi I've just uploaded up-to-date binary for Mac OS X @048dc67a8d2744e5abf639309862d567566256ea. Let me know if that fixes the issue.

[2016-05-05 19:26] astefanutti commented on #25
Sorry for the late reply.

The root cause is actually the use of the `for...of` statement which is an ECMAScript 6 specification and is currently not supported by PhantomJS. You can replace it with a supported way of iterating over the returned elements.

[2016-05-05 19:26] #25 closed

[2016-05-06 14:37] anaderi commented on #48
Thanks, woks perfectly now!

[2016-05-06 14:37] #48 closed

[2016-05-08 08:46] robertosanval opened #49 "PDF internal links"
I've a reveal presentation that exports very well with this command:

`$ ./bin/phantomjs decktape.js reveal http://reveal.local/ reveal.pdf`

The problem is on the internal PDF links that opens the browser to go to the original content.

What I'd like is that the internal links of the presentation converts to internal links in PDF.

Is that possible? I'm doing something wrong?

My HTML links are l

[2016-05-08 15:40] anaderi opened #50 "Printing MathJax formulae"
For rendering formulas I use MathJax:

[code]

but the formula `\int_{\Delta} \dfrac{\sin x}{\cos y} dz` rendered in HTML:

![html](https://picpig.com/dobdh008vk.png)

 and in PDF:

![pdf](https://picpig.com/iebmtc1n0u.png)

it looks a bit different.
Is there a simple way to fix it?

[2016-05-08 15:55] anaderi commented on #50
maybe helpful: https://gist.github.com/pkra/52391c345ae48613e5e0

[2016-05-11 09:19] astefanutti commented on #49
Hyperlinks are currently rendered as PDF link annotation with the _URI action_ irrespective whether they happen to be _internal_ links or not. This has been implemented as part of DeckTape development with Vitallium/qtwebkit@ef91a25 and Vitallium/qtbase@d50c481. This should be possible to detect _internal_ links and have them rendered as `GoTo` action instead of `URI`, as defined in the PDF specif

[2016-05-12 17:04] astefanutti commented on #50
I've just pushed @eb0e3c63c91484b9d350175d19bd07026e68a924 which waits for the `End` MathJax `StartupHook` before exporting the slides.

Unfortunately, the type setting is still incorrect in the example that I've tested so far (the `math.html` example from reveal.js source). Even the example from https://gist.github.com/pkra/52391c345ae48613e5e0 fails to render properly with the latest version of

[2016-05-12 19:46] anaderi commented on #50
hmm, the problem was in lack of my knowledge reading MathJax docs. one more option to `MathJax.Hub.Config` fixes that problem:
[code]
so probably without waiting till `End` we could use decktape just increasing timeout in `--pause` option.
Upside of this investigation are that
- now I can remove that pause
- I've learned to use KaTeX that works also well with remark & decktape (and is know to be a

[2016-05-12 19:46] #50 closed

[2016-05-16 11:20] robertosanval commented on #49
Thanks @astefanutti what could be the cost to implement that enhancement? I'm very interested on it.

[2016-05-20 14:43] oupala opened #51 "decktape, docker and network issue"
I'm trying to use the decktape docker container, but I'm having some trouble using the container and letting it access the network.

Here is the result of my command:

[code]

I'm pretty sure that I'm doing something wrong as the docker container must have been tested by someone else.

Can anyone help me?

[2016-05-20 14:50] oupala commented on #51
The same export works well while using the raw code instead of the docker container:

[code]

That makes me think that it is a docker related issue, due to my lack of knowledge with docker.

[2016-05-24 20:39] astefanutti commented on #51
I've double-checked by running the command below with a typical / pristine Docker installation and I confirm this works fine:
[code]
I can suggest you try to isolate your problem by running a container process with a TTY allocated based on a typical image (`docker run -it`) and troubleshooting your network issue.

[2016-05-24 20:39] #51 closed

[2016-05-31 12:45] rbirkby opened #52 "SVG images cause background to have vertical offset"
Adding an SVG image to markdown as an image causes any background image to be positioned incorrectly.

[code]

Only tested with remarkjs on Windows. DeckTape dfc4b772,

## Example output

Without SVG:

![image](https://cloud.githubusercontent.com/assets/203034/15674545/459442fe-2735-11e6-9c6d-68d9aaf7d1f3.png)

With SVG:

![image](https://cloud.githubusercontent.com/assets/203034/15674554/541ccb0c

[2016-06-06 20:43] astefanutti commented on #52
I've opened the test case in Safari (WebKit engine on which is based PhantomJS) and the issue reproduces. Adjusting the size of the SVG, in such way that the SVG does not overflow the slide container, leads to having the background image positioned correctly

It appears that, when inspecting the `div` with the class `remark-slide-content` on slide 2, it has the `background-position: 50% 0px;`  sty

[2016-06-06 21:18] astefanutti commented on #37
@andrewrech, I get an error when I try to access the example that you provided. Would that be possible to re-upload it so that I can work on it?

[2016-06-07 05:45] andrewrech commented on #37
@astefanutti Sure, here it is: https://s3.amazonaws.com/gobccuxmzacb4qcvlvisyq5vutramnv5ytshhilubpjpahiagt2ecjxvr1o9dnk/index.html#/

PDF output: https://db.tt/kF4z19yh

Thanks!

[2016-06-07 07:56] astefanutti commented on #52
Let's follow this up in gnab/remark#339 and reopen it if needed.

[2016-06-07 07:56] #52 closed

[2016-06-10 06:58] astefanutti commented on #37
@andrewrech, thanks for your patience.

It happens that the issue originates from the SVG document included in slide 2 having an embedded image (base 64 encoded).

PhantomJS is not rendering the embedded image which is probably a bug. I've just created ariya/phantomjs#14348 to follow-up on this.

That may not be ideal, though as a work-around, you could directly include the embedded image in the s

[2016-06-10 06:59] astefanutti commented on #34
Let's deal with this as part of the continuous refactoring.

[2016-06-10 06:59] #34 closed

[2016-06-10 16:58] andrewrech commented on #37
Interesting - thank you so much for getting to the bottom of this!

My current workaround is to convert these offending images from R / ggplot2's pdf device to png using ImageMagick, which preserves transparency ect., if anyone has a similar issue.

`convert -trim -density 300 -flatten -background none input.pdf output.png`

[2016-06-11 18:56] andrewhao commented on #12
Can someone confirm if their Docker build is working for external Markdown files? Mine doesn't seem to be doing so (I'm on remark.js).

[2016-06-12 13:07] astefanutti commented on #12
@andrewhao, the current Docker image does not contain the fix yet. I'm waiting for another issue's fix and I'll update the image ASAP then.

[2016-06-13 10:53] astefanutti opened #53 "Support DeckTape install with npm install"

[2016-06-16 11:14] abingham opened #54 "Hosted version of decktape?"
Is there a hosted version of decktape anywhere? I'm picturing a simple webpage to which I can give a URL for a presentation and have it give me the PDF. Just curious if such a thing exists.

[2016-06-16 11:47] astefanutti commented on #54
@abingham There is no hosted version for the time being. That would make sense. As an option / alternative, there are a couple of PhantomJS hosting services out there. Though as long as DeckTape relies on an enhanced version of PhantomJS, that won't be possible to use those with DeckTape.

[2016-06-16 13:01] astefanutti commented on #54
That'd be awesome. At some point, I'll work on it. though that's not high in my list. Let me know.

[2016-07-01 14:08] slickplaid opened #55 "32-bit version of Windows PhantomJS binary"
Is there any way we could get a 32-bit version of the binary for windows available? Our enterprise has 32-bit windows installed and won't let us install visual studio or compilation tools to build it ourselves.

Any help would be appreciated. Thanks!

[2016-07-05 07:39] astefanutti commented on #55
It's been a while since I've compiled the Windows version so I don't remember what exact target platform I used to produce the `phantomjs-msvc2013-win64.exe` binary. It may be that I used the _AnyCPU_ target so that you could give that binary a try on 32-bit Windows.

Otherwise, I don't have a Windows box readily available to kick a new build unfortunately, though I'll have to get a new one sooner

[2016-07-11 07:10] onetapbeyond opened #56 "PhantomJS precompiled binary for Ubuntu 16.04 x86-64."
Currently there are precompiled binaries for Win, OSX, CentOS and Debian. But not for Ubuntu. So I've built one for Ubuntu 16.04. If I give you a link where you can pull this new Ubuntu binary would you be interested in making this binary available on http://astefanutti.github.io/decktape/downloads?

[2016-07-11 13:56] astefanutti commented on #56
@onetapbeyond sure. That'd be even better if you create a PR to upload the binary in the `gh-pages` branch (and a separate one to update the README). Besides, please make sure to compress the binary with UPX.

[2016-07-12 03:59] onetapbeyond commented on #56
No problem. Submitted PR #58 and #59.

[2016-07-13 04:53] #56 closed

[2016-07-20 17:34] abecks opened #60 "Kerning issues on CentOS 6"
Trying to use your custom build of PhantomJS 2 to generate PDFs. I am running into issues where the kerning is messed up on Linux (CentOS 6) where it is fine on OS X.

OSX: http://i.imgur.com/FAwKIFR.png
CentoS: http://i.imgur.com/FttX4XO.png

PhantomJS 1.9.8 doesn't work with web fonts, installing the font locally does not work either
PhantomJS 2.1 release doesn't support multiple pages
PhantomJS

[2016-07-27 12:28] willemmulder commented on #3
Is there any update on this?

Thanks for looking into this!!

[2016-07-27 12:41] astefanutti commented on #3
@willemmulder, next-step is to apply the work-around proposed in https://github.com/ariya/phantomjs/issues/13997#issuecomment-217982183 and look into a definitive solution to [QTBUG-52417](https://bugreports.qt.io/browse/QTBUG-52417).

[2016-07-27 12:48] willemmulder commented on #3
But that fix is for Qt code, right? Would PhantomJS be able to 'package' (excuse the wording) that fix so that a new Phantom release fixes the Qt problem, even when Qt itself is not yet fixed?

(in other words: does Phantom reference Qt, or does it actually contain Qt?)

[2016-07-27 12:54] astefanutti commented on #3
@willemmulder, yes PhantomJS uses its own version of Qt, for instance, that would be merging the fix in https://github.com/Vitallium/qtbase.

[2016-07-27 13:18] willemmulder commented on #3
@astefanutti Ah that would be perfect! I don't know anything about this myself, but would be really grateful once this is in...!

[2016-08-01 11:15] gitpitch commented on #54
If you are happy to build your slideshow presentations using Markdown then you might want to check out [GitPitch](https://gitpitch.com). It's a new hosted service that lets you, among other things, print slideshow presentations to PDF. It uses `decktape` in the background. Thanks to @astefanutti.

[2016-08-01 11:20] abingham commented on #54
In my spare time I've been tinkering with [decktape.io](https://github.com/abingham/decktape.io), another hosted version of decktape. It's close to basic functionality, though not quite there yet...it should just be a matter of one or two more hours of work. Once it's limping along I'll see about hosting it somewhere.

[2016-08-01 11:21] abingham commented on #54
BTW, gitpitch looks very cool!

[2016-08-01 17:05] astefanutti commented on #60
I would guess there is still a couple of issues related to font rendering on Linux that may be linked to #3 (and hopefully solved with). You can go through the discussion, though the current status can be tracked with https://github.com/ariya/phantomjs/issues/13997#issuecomment-217982183 and [QTBUG-52417](https://bugreports.qt.io/browse/QTBUG-52417).

I can understand your frustration given the am

[2016-08-01 17:05] #60 closed

[2016-08-05 17:29] astefanutti commented on #13
Sorry for the late reply. I've just tested it with the latest pre-compiled Ubuntu binary (`phantomjs-linux-ubuntu16-x86-64`) on Ubuntu 14.04 (`ubuntu:14.04` Docker image) and the produced PDF document contains hyperlinks, see: [slides.pdf](https://github.com/astefanutti/decktape/files/404288/slides.pdf).

As for the first issue, #3, there has been some progress as the minimal test case has been id

[2016-08-05 17:29] #13 closed

[2016-08-05 17:35] astefanutti commented on #24
The `fragments` option has been set to `false` in the reveal.js plugin @a768e10e25af2d91111d055422794d1163317285.

[2016-08-10 17:31] lornajane commented on #12
I'm having exactly this problem with the docker image producing blank output for my reveal.js presentation which has markdown in a separate file.  Let me know if I can lend a hand testing a new docker image or something.

[2016-08-11 07:37] astefanutti commented on #12
@lornajane I'll update the Docker image ASAP and keep you in touch. Just in case, the pre-compiled Mac OS and Ubuntu binaries should already contain the fix.

[2016-08-12 03:49] ricokahler commented on #60
@abecks I have a patch for the multiple page issue. The issue lies within QtWebkit so the patch is split into to repos. Once the phantomJS 2.5 stuff gets sorted out then I'll probably add a small pull request upstream to Qt but for now you can use this patch if you still need it. It might solve your issue.

[The WebKit patch](https://github.com/ricokahler/qtwebkit/tree/switch-qwebframe-print-to-qp

[2016-08-18 06:53] Cisneiros opened #61 "Linear-gradient background does not work"
I've been struggling to export my Remark presentation. My slides have backgrounds using CSS3 Linear Gradients, and these appear not to work with decktape. This is the CSS I use for the slides:

[code]

All my slides are exported with white background. If I remove the linear gradient (both with and without `-webkit` prefix), it works (I get the solid BG color as specified). If I leave the gradient

[2016-08-18 16:21] oupala commented on #51
I followed your advice and it has paid off.

I just had to add some environment variables in order to use my proxy server:
[code]

It does now work like a charm.

Thanks a lot @astefanutti for your help!

[2016-08-18 16:24] astefanutti commented on #51
@oupala glad to hear it worked! Thanks for the feedback!

[2016-08-18 16:38] oupala commented on #51
There is a small detail that break the user experience: we have to specify a path for the generated file (here: `/pwd/export.pdf`) even if we want to file to be saved on the current directory on the host.

Is there a way to prevent that and to specify only `export.pdf` on the command line?

I tried to bind `/` (`-v 'pwd':/`) but I had an error:

[code]

[2016-08-18 16:40] oupala commented on #51
I also tried with http://lab.hakim.se/reveal-js and phantomjs seems to stay stuck.

Do you know why?

[2016-08-19 10:58] oupala opened #62 "can't export the default reveal presentation"
I tried to export the *default* reveal presentation: http://lab.hakim.se/reveal-js/ but decktape get stuck:

[code]

And nothing else happens until I press ctrl-C.

Can anyone confirm the behaviour?

This happens with the git install of decktape, and with the docker version (see #51).

[2016-08-19 21:52] astefanutti commented on #62
I've just been able to export successfully the _default_ reveal.js presentation available at http://lab.hakim.se/reveal-js/ using both the pre-compiled binary and the Docker image.

I would suspect a network issue as in #51. You may want to test with the _standard_ PhantomJS binary, using the `examples/rasterize.js` script to export a Web page to PDF.

I'm going to close this as this is unlikely t

[2016-08-19 21:52] #62 closed

[2016-08-23 09:13] oupala commented on #62
It might be a network issue, but not directly related to #51 as I'm not using docker in this test, but only the regular install of decktape.

Everything works well with a remark presentation:

[code]

But the same command with a reveal presentation is stuck:

[code]

Is there any network difference between a remark and a reveal presentation that could explain that a remark presentation is exported

[2016-08-23 09:14] oupala opened #63 "Docker export and working directory"
There is a small detail that break the user experience of docker usage: we have to specify a path for the generated file (here: `/pwd/export.pdf`) even if we want to file to be saved on the current directory on the host.

The current command looks like:

[code]

Is there a way to prevent that and to specify only `export.pdf` on the command line and to export the file to the current directory (`pwd

[2016-08-23 09:17] astefanutti commented on #62
That's really weird. You may have a look at http://phantomjs.org/troubleshooting.html to try getting more insights. What OS are you using?

[2016-08-23 09:35] oupala commented on #62
I'm using linux, a standard debian jessie install.

Here is what I can get from phantomjs in debug mode:

[code]

[2016-08-23 09:36] astefanutti commented on #63
The only way to achieve this that I know of is to run:

    docker run --rm -v `pwd`:/pwd -w /pwd astefanutti/decktape http://remarkjs.com/ export.pdf

This will execute in the specified working directory `/pwd`, which is mounted to the current directory.

As documented in [Mount a host directory as a data volume](https://docs.docker.com/engine/tutorials/dockervolumes/#/mount-a-host-directory-as-a

[2016-08-23 09:43] oupala commented on #63
@astefanutti, you're solution would be great!

Can you add the `WORKDIR` in the Dockerfile or do you prefer that I create a pull request?

[2016-08-23 10:04] astefanutti commented on #62
Hereafter is my log using the Docker image. Another potential cause may be memory:

[code]

[2016-08-23 10:23] astefanutti commented on #63
@oupala, we could declare a default `/slides` working directory in the `Dockerfile`. The `ENTRYPOINT` would have to be updated to reference the absolute path of the `decktape.js` script.

You're welcome to create a PR. That'd be great if you could update the Docker instructions in the README file as well 😉.

[2016-08-23 10:44] oupala commented on #62
I compared the two logs and I found that you have slideshare related log that I don't have in my log. I thought it could be the explanation as the default reveal presentation [embeds a slideshare presentation on page 20](http://lab.hakim.se/reveal-js/#/20). I also noticed that this presentation was server over http**s**.

So I tried another sample presentation found on revealjs website and it seem

[2016-08-23 13:43] oupala commented on #63
I've just created a pull request #64. I let you rebuild the Dockerfile when the pull request is merged (unless this is done automatically on a `git push` event).

In the meantime, you can already benefit the way of using the docker image by creating the following alias in your `.bash_aliases` file:

[code]

and then call the docker container by the following command:

[code]

[2016-08-23 17:29] astefanutti commented on #63
Merged @f913091b606faa9f20719b207b58ce8f85b69c06. Thanks!

[2016-08-23 17:29] #63 closed

[2016-08-23 17:51] astefanutti commented on #63
The Docker image has just been built successfully on DockerHub.

[2016-08-24 09:28] oupala commented on #63
It works like a charm!

[2016-08-26 17:25] astefanutti commented on #61
I confirm I can reproduce the issue with standard PhantomJS example, by executing `phantomjs examples/rasterize.js test.html test.pdf`, using `test.html`:
[code]

Note that this is specific to the PDF output, as executing `phantomjs examples/rasterize.js test.html test.png` works fine.

CSS3 support is known to be lagging in PhantomJS due to the old version of WebKit used by Qt WebKit. Hopefully t

[2016-09-05 13:05] abingham commented on #54
I've put up a rough hosted version of decktape [here](http://23.251.132.12/decktape/). It *seems* to work for the small workloads I've thrown at it, but it certainly won't scale well right now.

The basic idea is that a casual user should be able to enter the URL of a presentation and get a PDF version after conversion is done. When they enter a URL, I display any existing conversions of that URL

[2016-09-05 14:27] astefanutti commented on #3
An update on this is available at https://github.com/ariya/phantomjs/issues/13997#issuecomment-244758296.

So there is a working solution. I'm still investing a bit to iterate over the proper solution and I'll update the binaries / Docker image ASAP.

[2016-09-05 14:30] astefanutti commented on #54
@abingham that's awesome!

I've just registered the `decktape.io` domain so we can point to your host whenever it's ready. That'd be even more awesome to have it elastic to the load though we can start small and throttle if needed.

[2016-09-05 18:24] abingham commented on #54
Great! Feel free to point the domain to that address any time you want. It's a google cloud machine, and the IP will likely change at some point, but for now it should be stable. I've got some ideas for fixing the scaling and timeout issues; I just need to find some time to work on it.

[2016-09-07 09:53] pmurkowsky commented on #12
@astefanutti I saw that you updated the docker image 15 days ago, but it does not seem to contain this fix yet. Is this correct?

[2016-09-07 09:55] astefanutti commented on #12
@pmurkowsky your understanding is correct. I'm working on another issue and should be able to update the Docker image containing both fixes soon.

[2016-09-08 07:57] astefanutti commented on #3
I think I'll go with the fix that I have as it works for all the test examples that I have.

Here is the list of binaries to be updated to keep track:
- [ ] phantomjs-linux-centos6-x86-64
- [ ] phantomjs-linux-centos7-x86-64
- [ ] phantomjs-linux-debian8-x86-64
- [ ] phantomjs-linux-ubuntu16-x86-64
- [ ] Docker image (based on phantomjs-linux-centos7-x86-64)

[2016-09-22 20:09] astefanutti opened #66 "Linux statically built PhantomJS binary"
As per ariya/phantomjs#13822, PhantomJS Linux binary can be statically built so that only `fontconfig` or `libfontconfig` (depending on the distribution) package is required as a dependency on the host. That avoids having to generate and distribute distro-specific binaries.

[2016-09-22 21:20] astefanutti commented on #66
Available in `1.0.0` release.

Successfully tested on Centos 6, 7, Debian 7, 8 and Ubuntu 14.04, 16.04.

[2016-09-22 21:20] #66 closed

[2016-09-22 21:21] astefanutti commented on #55
Available in `1.0.0` release, see `phantomjs-msvc2013-x86.exe` attachment.

[2016-09-22 21:21] #55 closed

[2016-09-22 21:23] astefanutti commented on #12
I've just released version `1.0.0`, which contains the updated binaries with the fix for this issue. The Docker image has been updated as well.

Thanks for your patience!

[2016-09-22 21:23] #12 closed

[2016-09-22 21:34] astefanutti commented on #3
I've just released version `1.0.0`, which contains the fix for this issue. On this occasion, I've managed to produce a statically built / linked version of PhantomJS Linux binary, which I successfully tested on CentOS, Debian and Ubuntu, see #66.

The Docker image has been updated with this statically linked binary.

I'm so glad it's fixed! Thanks for your patience!

[2016-09-22 21:34] #3 closed

[2016-09-23 11:42] willemmulder commented on #3
Great; thank you so much! If I wanted to get the standalone PhantomJS binary, where could I go get it?

[2016-09-23 12:19] astefanutti commented on #3
@willemmulder it's all in the `1.0.0` release here: https://github.com/astefanutti/decktape/releases/tag/v1.0.0 (`phantomjs-linux-x86-64`).

[2016-09-23 12:22] astefanutti commented on #3
@willemmulder BTW, I was thinking a plugin for Presenteer.js may be worth 😉!

[2016-09-23 12:27] szpak opened #67 "Monospaced fonts are not selected with "font-family: monospace""
It's great that in 1.0.0 text is properly kept in PDF (#3), however I discovered an issue with monospaced fonts rendering (a variable-width font is used) . It is especially problematic with source code. The following presentation fragment in remark.js (0.12) has been rendered with old decktape and 1.0.0 (attached).

[code]

In a case there would be a problem with reproduce that issue I can provide

[2016-09-23 12:33] szpak commented on #67
[aaa.txt](https://github.com/astefanutti/decktape/files/489667/aaa.txt)

[2016-09-23 12:36] szpak commented on #67
GitHub doesn't like my PDF files. Here's the links:
https://solidsoft.files.wordpress.com/2016/09/fixed-old.pdf
https://solidsoft.files.wordpress.com/2016/09/fixed-1-0-0.pdf

[2016-09-23 12:51] astefanutti commented on #67
What exact OS do you use?

I've exported default remark.js presentation using the Docker image (Debian 8) and it seems monospaced text renders correctly - [test.pdf](https://github.com/astefanutti/decktape/files/489690/test.pdf) - though that's a Web font being used.

I've noticed that for local font family, results may vary depending on the distribution. It looks like the font used in `fixed-1-0-

[2016-09-23 12:53] szpak commented on #67
I've been using Docket image of 1.0.0.

[2016-09-23 12:55] szpak commented on #67
Btw, there is something strange with font inside source code in test.pdf. E.g. on a page 15 the top of the question marks are not fully visible.

[2016-09-23 12:58] szpak commented on #67
Maybe in my case there is a problem with used font. I will prepare a small presentation reproducing the problem.

[2016-09-23 13:06] astefanutti commented on #67
Slide 15 of `test.pdf` renders exactly as the original for me (Preview reader on Mac OS X). That would indicate a difference at the level of the PDF reader.

Great, I'll wait for that and investigate. I've already noticed that local monospaced font may render differently from a distribution to another. So lets find out what's going on...

[2016-09-23 22:37] szpak commented on #67
I dig a little bit and it turned out that the mentioned effect [occurs](https://solidsoft.files.wordpress.com/2016/09/why-example-plain.pdf) in the situation where there is no font explicitly defined to handle text formatted as code (i.e. just "font-family: monospace" for given CSS class is not enough). When the font is defined explicitly the rendering works [fine](https://solidsoft.files.wordpres

[2016-09-23 22:41] szpak opened #68 ""SSL handshake failed" when loading fonts from Google Fonts via HTTPS"
Decktape fails to get font from Google Fonts if HTTPS is used:

[code]

Sample font inclusion (fails also with `@import`):
[code]

Tested with 1.0.0 as a Docker image (as a side effect of #67).

[2016-09-25 08:19] abingham commented on #54
An improved version of decktape.io is now up and running at http://104.199.0.251/. I'll look into getting a static IP address at some point, but I think this will stay stable as long as I don't restart the instance (it's a a google cloud machine).

The scaling and stability issues should be largely addressed now. We now have a task queue (rabbitmq) handling conversion requests, and the web front-e

[2016-09-26 12:59] astefanutti commented on #67
"Deja Vu Sans Mono" seems to be already installed on the Docker image. By installing `fontconfig` and running:

    # fc-match monospace
    DejaVuSansMono.ttf: "DejaVu Sans Mono" "Book"

It seems that "DejaVu Sans Mono" correctly resolves for `monospace`.

A quick search into PhantomJS issue tracker leads to ariya/phantomjs#11764 and ariya/phantomjs#11468. I haven't yet dig into these though that

[2016-09-26 13:07] astefanutti commented on #54
Awesome!

I've just released version [`1.0.0`](https://github.com/astefanutti/decktape/releases/tag/v1.0.0) that fixes a couple of issues, most notably #3. So that'd be interesting to upgrade your hosted version to that version (Thanks to #66 there is now only one Linux binary).

I'll update the DNS entries for decktape.io ASAP to point to your IP, and can update them from time to time in case it

[2016-09-26 13:10] abingham commented on #54
Cool, I'll try to get to that this evening.

[2016-09-26 16:29] abingham opened #69 "Embed presentation title in PDF"
Is it possible to extract the title of a presentation and embed it in the exported PDF? I've tested a few of the generated PDFS using PyPDF2, and none of them have title metadata. I guess this may be hard or impossible for some or all of the plugins.

The main driver for this is that I'd like to be able to [extract the title in decktape.io to generate better filenames](https://github.com/abingham/

[2016-09-27 13:08] #68 closed

[2016-09-27 13:09] astefanutti commented on #68
Thanks for the report! that should be fixed in the latest version of the `astefanutti/decktape` Docker image.

[2016-09-27 13:49] astefanutti commented on #42
@jensgro just a heads-up that Shower 2 is now supported since @328e4438189c2f9a12dcc548a4a9b8557bdb59b5.

[2016-09-27 20:14] astefanutti commented on #30
Sorry for the delayed answer 😞.

The Docker containers do not have access to fonts installed on the host. As you've noted, you'll have to mount a data volume pointing to `~/.local/share/fonts/`.

Depending on your use case, one option that we may consider is to have some font packages pre-installed in the DeckTape Docker image for the most commonly used fonts.

Let me know your thoughts.

[2016-09-29 04:25] jroper commented on #24
The title of this issue should be renamed now - it should be "add option to allow creating one slide per fragment".  In my presentations, I often use fragments to "animate" images, with sequences of images, each being a new fragment rendered over the old, progressing through the animation.  The PDF is useless if it doesn't have these.

[2016-09-29 08:58] astefanutti commented on #67
FWIW, I can reproduce it with the _default_ reveal.js presentation on Mac OS X.

[2016-09-29 09:29] astefanutti commented on #24
@jroper thanks for the feedback. I infer you're exporting reveal.js presentations for which I assumed passing `fragments=true` in the URL query string would force the fragments to be rendered one per slide. Though it happens the query string parameter does not take precedence over the globally configured `fragments` option.

So I've just pushed @82cdf7e, that should enable you to export one slide

[2016-09-29 19:56] astefanutti commented on #67
With the minimal test case `test.html` hereafter:
[code]
Running `phantomjs-osx-cocoa-x86-64 examples/rasterize.js test.html test.pdf` with the pre 1.0.0 Mac OS X binary produces
[test.pdf](https://github.com/astefanutti/decktape/files/501571/test.pdf).

Running `phantomjs-osx-cocoa-x86-64 examples/rasterize.js test.html test-1.0.0.pdf` with the 1.0.0 Mac OS X binary produces
[test-1.0.0.pdf](http

[2016-09-30 21:23] mjbright opened #70 "There should be the option to print with speaker notes"
Not sure which of the supported frameworks have "Speaker Notes" (like remarkjs has).

It would be useful to be able to print
- slides + note pages
- note pages alone (numbered according to corresponding slides)

[2016-10-02 09:44] astefanutti commented on #69
Sounds like a great idea!

It should be possible to:
* Add a new method to the DeckTape plugin API that would return the presentation title. Depending on the presentation framework, that should be possible to extract, one way or another, the presentation title.
* Give DeckTape access to `QPdfEnginePrivate.title` member in order to write the extracted title into the PDF metadata.

[2016-10-02 09:45] astefanutti commented on #30
Let me close this. Do not to re-open it if needed.

[2016-10-02 09:45] #30 closed

[2016-10-04 12:20] MaxKemman opened #71 "Mac OS binary does not work on OS X Sierra"
I build my slides with flowtime.js, and then convert to pdf using the command:
`.phantomjs decktape.js flowtime "/Users/name/etc/doc.html" "/Users/name/etc/doc.pdf" --size=1920x1080`

This worked perfectly, but as of today I get the message "**Killed: 9**". I updated to OSX 10.12 earlier this week so that's probably related. I've updated to the latest version of decktape

[2016-10-04 13:41] astefanutti commented on #71
It looks like it is caused by upx/upx#4. I'll update the Mac OS binary ASAP.

[2016-10-06 08:12] gitpitch opened #72 "MathJax font rendering inconsistencies across OSX and Linux."
When testing the decktape output generated when rendering MathJax formulas within GitPitch presentations (built on reveal.js) I am seeing significant differences in the font rendering between OSX and Linux/Ubuntu 16.04.

Here is a screenshot of the PDF output generated on OSX:

![mathjax-osx](https://cloud.githubusercontent.com/assets/19169584/19144777/af9f1f70-8bd5-11e6-920c-14ce1de16853.png)

He

[2016-10-07 18:13] astefanutti commented on #71
I've just updated the Mac OS X binary in the [`1.0.0`](https://github.com/astefanutti/decktape/releases/tag/v1.0.0) release (it's simpler / faster that way).

It can be retrieved from: https://github.com/astefanutti/decktape/releases/download/v1.0.0/phantomjs-osx-cocoa-x86-64

Could you give it a try as I haven't upgraded to Sierra?

[2016-10-10 07:29] MaxKemman commented on #71
I installed Decktape 1.0.0 again with the new UPX patch, and now everything works again. Many thanks!

[2016-10-10 08:04] astefanutti commented on #71
@MaxKemman great! Thanks for the feedback and the report.

[2016-10-10 08:04] #71 closed

[2016-10-13 05:04] gitpitch commented on #72
@astefanutti do you know offhand if the problem I'm reporting here looks like the same problem you were addressing in issue #3 that was closed out in your recent 1.0.0 release?

I've tried both the pre-built 1.0.0 binary and a binary I built myself from `astefanutti/phantomjs.git` for Ubuntu 16.04 and in both cases I see the same kind of output as described in my original feedback.

As previously

[2016-10-13 07:48] astefanutti commented on #72
@gitpitch It's very likely to be a different problem than in #3.

A similar issue has already been noticed a while ago in #50. It seems that configuring the type-setting with `"HTML-CSS": { availableFonts: ["TeX"] }` fixed the issue.

However, this might be a different issue as it wasn't explicitly OS dependent. Font selection vary from one OS to another. A first step would be to make sure that yo

[2016-10-13 09:37] gitpitch commented on #72
@astefanutti is there some way I can enable debug or otherwise to find out (1) what fonts decktape is looking for and (2) what fonts decktape ends up using for a given pdf job?

[2016-10-13 10:13] astefanutti commented on #72
@gitpitch unfortunately no straightforward method that I would know of. On Linux OS, it may be that Qt delegates to the OS the font selection. So a way to get more insight would be to run `fc-match` (with the `fontconfig` package installed). A first manual check would be to verify that the font that should be used in formula is installed on your OS, or to check that it renders as expected in the b

[2016-10-18 16:30] darribas commented on #71
I've had a similar experience when trying to run decktape after the upgrade to Sierra. I see the following:

[code]

This is with the `master` version of `decktape` (freshly checked out of Github) and using the phantomjs link above in this thread (the one with the `UPX` patch).

Thanks very much!!!

It seems to be related to `openssl` but, beyond that, I can't figure out how to make it work. Has a

[2016-10-19 10:10] astefanutti commented on #71
@darribas I haven't upgraded myself to Sierra yet and haven't heard anything like this error before. You may want to search PhantomJS issue tracker in case somebody else has faced a similar issue. On my side I'll upgrade ASAP and give it a try.

[2016-10-19 14:08] darribas commented on #71
Thanks very much for the answer @astefanutti. I've worked around the issue for now using the docker image, which seems to work just fine. However, if you run into this or see of anyone running into it, I'd very much prefer to keep using the native approach. It does seem to be related to `phantomjs` rather than to `decktape`, but not sure if it has to do with your fork of it or with all versions. T

[2016-10-25 15:46] gitpitch commented on #72
Having ensured the MathJax fonts were available and verified by `fc-match` I still could not convince `decktape` on my Ubuntu box to use these fonts when rendering `mathjax` formulas. As noted previously, on OSX it these fonts are used as expected. Not sure what else I can do at this point. The issue is probably specific to my local env as I've not found evidence of this problem reported elsewhere

[2016-10-25 15:46] #72 closed

[2016-10-30 06:04] akaihola opened #73 "Last RISE sub-slides are not included"
In my Jupyter Notebook slides which have been created using RISE, I'm using both the "Slide" and "Sub-Slide" slide types. My last slide is `#/slide-8-0` with a sub-slide `#/slide-8-1`. Decktape fails to include the last sub-slide. If I change its type to "Sub-Slide", it gets included.

If I open the original presentation interactively in the browser, jump to the `#/slide-8-0` slide and execute thi

[2016-10-30 12:13] akaihola opened #74 "RISE fragments are not included at all"
If I render my Jupyter Notebook / RISE presentation, any cells marked as "Fragment" are omitted from the PDF.

I couldn't find a configuration option in reveal.js to force all fragments to be displayed immediately. The `fragments: false` option used in the RISE plugin seems to disable displaying all fragments also when used in an interactive browser (by adding `?fragments=false` to the URL).

My w

[2016-11-03 12:30] darribas commented on #71
In case this is of help for anyone in a similar situation, I fixed this by installing Homebrew and running:

[code]

Then worked like a charm :-) I do not recall having to install that on El Capitan though.

[2016-11-12 13:55] willemmulder commented on #3
Hey @astefanutti yeah that would be great!

I'm not sure how Decktape works?

Note that there is no Presenteer.js 'wrapper' to actually create presentations. Presenteer.js is (currently) focussed at developers, not end-users. Is that something that would need fixing first or can Decktape work with any Presenteer.js webpage, as long as the Presenteer.js API is clear?

[2016-11-15 12:50] hasalex opened #75 "Bespoke plugin doesn't work"
When I run decktape on Bespoke slides, such as the "Welcome our new ES5 Overloards" example, I have the following error message:

Here is my command line:
`./phantomjs decktape.js bespoke http://mikemaccana.github.io/rejectjs2013 slides.pdf`

I've also tested locally with my own slidedeck, and it fails too.

Note : it's working fine with the other examples.

[2016-11-15 13:00] hasalex commented on #75
I've found my mistake : I had to add the **bespoke-extern** module.

Now my local example works. The output is not really as nice as what I was expecting, but now I have an output.

[2016-11-15 13:00] #75 closed

[2016-11-15 13:17] astefanutti commented on #75
@hasalex an alternative is to use the _generic_ plugin. Do not hesitate to report any issue that you face for the rendering.

[2016-11-15 13:21] hasalex commented on #75
Thanks, I'll investigate further. Looks like a problem with flexbox. I'll report on an other issue if I'm stuck with it.

[2016-11-15 13:24] astefanutti commented on #75
Ah flexbox isn't supported by PhantomJS yet. There is a major migration to the latest WebKit version going on that'll bring support for it among many other things.

[2016-11-15 13:34] hasalex commented on #75
OK. Thanks for the information.

[2016-11-18 09:20] astefanutti commented on #3
@willemmulder DeckTape would just need to rely on  the Presenteer.js API. DeckTape basically needs a `nextSlide` and (`slideCount` or `hasNextSlide`) API.

[2016-11-18 19:27] willemmulder commented on #3
Okay, so how do we go from here? :-) Is there an instruction-page that I could follow? Or is there something else you need?

[2016-11-21 15:49] astefanutti commented on #3
@willemmulder it's just a matter of creating a `plugins/presenteer.js` file. You can take the [`remark.js`](https://github.com/astefanutti/decktape/blob/244e4ab95c31035032e3e1b18bd990a057107560/plugins/remark.js) one as an example of a straightforward implementation.

[2016-11-23 15:06] JanoschDeurer opened #76 "MathJax formulas are not rendered correctly with the HTML-CSS output on Docker"
If I try to create a pdf from a reveal.js presentation then all mathjax formulas are replaced by decktape with boxes which makes them unreadable. Am I supposed to somehow load an additional math font or something?

[2016-11-23 15:29] astefanutti commented on #76
@JanoschDeurer you may find some information in #50 and #72. Let me know if that helps.

[2016-11-23 16:01] JanoschDeurer commented on #76
Thanks for the quick response. My description was a bit imprecise so I attached a screenshot this time:

![latex](https://cloud.githubusercontent.com/assets/10299326/20568827/089f6f06-b19e-11e6-8745-cd7e77442b26.png)

As you can see the formula is not rendered with the wrong spacing or font but with actual boxes around it.

[2016-11-23 16:02] astefanutti commented on #76
Would you be able to produce a minimal sample so that I can reproduce?

[2016-11-23 16:15] lamuertepeluda opened #77 "Spectacle"
Hi there,

any plan of introducing support for https://github.com/FormidableLabs/spectacle?

[2016-11-23 16:58] astefanutti commented on #77
Yes, that's in my todo list. My understanding was that Spectacle provides a decent PDF export, as opposed to other frameworks for which a DeckTape plugin would be more important as a result. That being said, if that's something you would need, that'd be awesome if you could contribute it 😉.

[2016-11-23 17:08] lamuertepeluda commented on #77
Thanks, this is good news.

I just started playing with spectacle and I'm trying with the generic plugin. The PDF support is decent but sometimes fails/behaves strangely, especially with spectacle-code-slide.

If I find anything that helps or I'll be able to contribute somehow, I'll let u know

[2016-11-23 17:14] JanoschDeurer commented on #76
I produced a minimal example here:
https://wobble.ninja/temp/demo-minimal.zip
(I couldn't upload it as a comment attachment for some reason, hence the link)

While trying to create an example as small as possible I noticed that the formula must be at least on the 9th page. If you remove one of the previous pages the boxes will go, but the formula will still be rendered incorrectly.

[2016-11-24 02:58] obilodeau opened #78 ""SSL Handshake failed" on Google Fonts with latest Linux phantomjs binary"
Not quite like #68 since this is not from within a Docker environment.

[code]

Output with `--debug=true`:
[code]

I tried playing with `--ssl-certificates-path`, including adding `--ssl-certificates-path=/etc/ssl/certs/` but it didn't work.

To work around the issue, add: `--ignore-ssl-errors=true` between `phantomjs` and `decktape.js` on the command-line. However it would be preferable to find

[2016-11-24 08:32] astefanutti commented on #78
As you've pointed out, the Docker image faced a similar issue with #68, that's been fixed with @ee6891524d65406978032ed3d54fcfe7f82de31c, that is by installing the `ca-certificates` package. Could you give that a try?

[2016-11-24 08:43] astefanutti commented on #77
I've just tried using the `generic` plugin to export the Spectacle demo slides and got the following error:
[code]
It happens that Spectacle uses some ES6 API that aren't supported yet by PhantomJS (will come with ariya/phantomjs##14458). In the meantime, an alternative would be to polyfill those API from the Spectacle plugin.

[2016-11-24 08:50] lamuertepeluda commented on #77
I just run into a similar error! Yesterday I was using an older version of decktape, that didn't show such errors but also did not exactly work as expected for some slides, so today I updated my version and I got plenty of these errors...

[code]

I don't get your errors because I already polyfill the es6 API using babel, but I get this error with localStorage using the spectacle-code-slide plugin

[2016-11-24 10:51] lamuertepeluda commented on #77
Ok, for sure you'll need local storage to be active since Spectacle deck uses it:

[code]

Also `--max-slides` seems needed in my case, since otherwise it goes up to infinity (well it prints a lot), but it could depend on my presentation, or the spectacle-code-slide plugin

[2016-11-24 14:30] obilodeau commented on #78
`ca-certificates` is already installed. It is required by `curl`, the gnome desktop, QT and a bunch of other stuff. Actually, `/etc/ssl/certs/` is a bunch of symlink to `ca-certificates` installed files.

[2016-11-24 14:31] astefanutti commented on #78
Is it up-to-date?

[2016-11-24 19:58] obilodeau commented on #78
Yes it is. This is my main system and I have no certificate errors on https://fonts.googleapis.com with Chrome, Firefox, curl, wget, etc.

[2016-11-25 08:52] astefanutti commented on #78
Could you precise what's the Linux distro you're using so that I can try to reproduce?

[2016-11-30 07:04] jonathanlilly opened #79 "font-family specification not honored in Docker image"
Hi, I ran the Docker version of decktape on a large remark.js presentation.  It works great, except that the specified font-family is not used.  I have a serif font, font-family: 'Georgia', specified in the html file, but in the printer slides I get a sans serif font instead, which throws off the slide formatting. Any idea why this is happening?

Thanks!

I'm on a Mac, by the way

[2016-11-30 09:12] astefanutti commented on #79
It may be related to #67. I'll try to analyse it ASAP on a minimal use case. In the meantime, a possible work-around is to explicitly define the font instead of just the font-family.

[2016-11-30 14:29] jonathanlilly commented on #79
Thanks very much for your quick response.

Here is the online presentation http://www.jmlilly.net/talks/oslo/index.html

And here is a link to the slides

https://www.dropbox.com/s/hq2pyk2b2f53thj/slides.pdf?dl=0

In case that's helpful.

I'd also like to vote in favor of enhancement #49.  Having internal links
reference the pdf document, instead of the web presentation, would be great.

On Wed, N

[2016-11-30 17:46] astefanutti commented on #79
Thanks for the details. I'll check if `font-family: 'Georgia'` actually resolves correctly in the Docker image. It may be that additional font packages must be installed in the image.

Another alternative for you would be to give the DeckTape Linux binary a try on your system if possible and let me know the result.

reference the pdf document, instead of the web presentation, would be great.

You

[2016-12-01 17:37] jonathanlilly commented on #49
I agree, this would be a very useful feature!

[2016-12-01 17:38] jonathanlilly commented on #79
Thanks for the tip.  I'll give it a try with the binary over the weekend
and let you know the result.  -- J

On Wed, Nov 30, 2016 at 9:46 AM, Antonin Stefanutti <
notifications@github.com> wrote:

[2016-12-02 06:19] jonathanlilly commented on #79
Using the DeckTape binary did indeed solve the problem.  It looks great now.  Thanks for your help!

[2016-12-02 08:43] astefanutti commented on #79
I'm glad it worked! I'll analyse the issue in the Docker image ASAP.

[2016-12-06 06:54] zhiying8710 opened #80 "Windows XP PhantomJS binary"
can u build a xp version, thx, my program need it,  i've found every where but no luck

[2016-12-06 08:56] zhiying8710 commented on #55
phantomjs-msvc2013-x86.exe dont support xp!

[2016-12-06 09:26] astefanutti commented on #80
Ah the Windows binary has been built on Windows 7 so I guess PhantomJS needs to be built on XP for it to work. I'll need to find a XP box.

[2016-12-06 10:05] astefanutti commented on #80
Apparently, there is a way to configure MSVC to target XP:
- http://doc.qt.io/qt-5/windows-issues.html#targeting-xp-with-visual-studio-2012-and-later
- https://blogs.msdn.microsoft.com/vcblog/2012/10/08/windows-xp-targeting-with-c-in-visual-studio-2012/

So hopefully it won't be needed to have a XP box. I'll give it a try next time I build the Windows PhantomJS binary.

[2016-12-06 13:37] pachevalier opened #81 "Problem executing .phantomjs"
I've tried to install decktape using the following instructions : https://github.com/astefanutti/decktape/releases/tag/v1.0.0

When I try to execute :

    $ ./phantomjs/ decktape.js -h

I've got an error which tells me :

    bash: ./phantomjs/ : is a directory

Any explanation ?

[2016-12-06 14:05] astefanutti commented on #81
You should remove the slash, i.e.:

    $ ./phantomjs decktape.js -h

instead of:

    $ ./phantomjs/ decktape.js -h

[2016-12-06 14:08] pachevalier commented on #81
I've got the same error.

I run Debian testing.

[2016-12-06 14:11] astefanutti commented on #81
Make sure the `phantomjs` binary is correctly downloaded and executable. You may want to run `ls -al .` in the installation directory.

[2016-12-06 14:39] pachevalier commented on #81
OK I've just reinstalled everything and it seems to work

[2016-12-06 17:37] astefanutti commented on #81
I'm glad it worked. Let me know if you face any other issues.

[2016-12-06 17:37] #81 closed

[2016-12-06 18:40] astefanutti commented on #61
Adding ariya/phantomjs#14492 for reference.

[2016-12-07 00:17] zhiying8710 commented on #80
ok, thx, i'll try it!

[2016-12-08 14:35] obilodeau commented on #78
Arch Linux. I just re-tested and the error is still happening. Sorry for the delayed response.

[2016-12-15 09:24] astefanutti commented on #78
No pb. Thanks for the update. I'll try to reproduce ASAP.

[2017-01-05 14:00] thhancock opened #82 "Possible Load Delay Needed | reveal.js, plot.ly, and Jupyter"
I have a very graphic intensive Jupyter Notebook that I am exporting to slides via nbconvert.  The slides use  plot.ly charts all throughout.  I have no issues exporting to HTML, converting to slides, opening in a browser to view (as long as there is a ploy.js and reveal.js library in the directory I open the slides in), and / or viewing the slideshow in RISE, but...

When I run decktape on the sl

[2017-01-05 15:08] astefanutti commented on #82
Have you tried the ` --load-pause` option that adds a delay after the presentation has loaded and before decktape start exporting the slides. It's been introduced to address situations similar to yours.

Otherwise, you can use the `--pause` option that adds a delay between each slide.

Finally the main loop is here: https://github.com/astefanutti/decktape/blob/1998908da329142f8ac876a232cb3cb8cade3

[2017-01-06 00:41] thhancock commented on #82
Wow.  Glad it did not bite me!

I added the pause at the slide and overall level to no avail.

Had anyone had success with plot.ly charts, reveal, and decktape?

[2017-01-06 08:50] astefanutti commented on #82
That may be RISE that complicates things. We could check whether plot.ly charts render correctly in plain reveal.js presentations.

Would you be able to produce a minimal presentation that can be use to reproduce the issue?

[2017-01-06 13:40] thhancock commented on #82
Hrm...

I actually just got it working with RISE instead of reveal by launching an ipynb and just pointing it at the localhost with the RISE command.  That got me thinking...

I was trying to run decktape on a static HTML file in the decktape directory (sitting next to my reveal.js and plot.ly files).  Since RISE worked with a locally hosted URL, I just ran a jupyter nbconvert on my notebook and s

[2017-01-06 14:50] astefanutti commented on #82
Ok, glad it works now. Let me know if you face any other issues.

[2017-01-06 14:50] #82 closed

[2017-01-17 13:08] sinedied opened #83 "Merge phantomjs's fork changes into official repo?"
It may be a dumb question, but why not propose a PR to merge the specific changes made to PDF export into the main phantomjs repo?

If accepted, this would simplify greatly the installation process and usage of this tool :)

[2017-01-17 13:37] abingham commented on #54
The address of the latest decktape.io is 104.199.17.159 if you'd like to point DNS at it. I'll look into getting a static address soon.

[2017-01-17 17:48] astefanutti commented on #54
Thanks for the heads-up. I'll do the update ASAP.

[2017-01-17 17:57] astefanutti commented on #83
That's definitely something we want to do. I've documented the current status of getting DeckTape bits back into PhantomJS here: https://github.com/astefanutti/decktape#status.

I'll be working ASAP on the upgrade to PhantomJS 2.5 that brings support for CSS3, ES6 and other goodies with the rebase to latest WebKit. Then I'll work on merging the remaining requirements upstream.

Let me close this a

[2017-01-17 17:57] #83 closed

[2017-01-26 12:27] sedrubal opened #84 "HackMD presentations with fade transition do not render"
I tried to export a Reveal.js presentation from [hackmd](https://hackmd.io/), but I got a PDF with only black pages. I couldn't reproduce this with [hackmd example presentation](https://hackmd.io/p/slide-example#/) but with this presentation: https://hackmd.io/p/ByeVG31wl#/ (Markdown: https://hackmd.io/ByeVG31wl)

[code]

The PDF contains 22 black pages.

[2017-01-26 17:48] pat-s opened #85 "Problem with relative paths of images"
`decktape` fails to find all images.
Engine: `remark.js`

[code]
I tried to insert full paths instead of relative paths pointing to the images -> same error

My HTML slides are fine.

[2017-01-26 22:29] astefanutti commented on #84
The PhantomJS 'rasterize.js' example fails at exporting even the first slide:

    phantomjs examples/rasterize.js https://hackmd.io/p/ByeVG31wl#/ test.png

It seems there is something specific in your slides that prevents PhantomJS to render the page. As it works fine with other presentations, would you be able to isolate the minimal presentation that reproduces the issue?

[2017-01-27 13:42] astefanutti commented on #85
I haven't been able to reproduce the issue with a simple `img` tag with a relative path. Could you please share your example or at least a minimal presentation that produces the error? From the error, it looks like PhantomJS tries to load the image from the `/AK-TQMG/img/gdal-overview.png` absolute path, which I understand is not expected. How do you declare your `img` element?

[2017-01-27 14:03] pat-s commented on #85
I tried full paths yesterday and for some reason it did not work.

I tried full paths again now - and for some reason it did work :laughing: :sweat_smile:. Not sure what I did wrong yesterday.

So yeah, its caused by the relative image path of my html output. Everything fine with `decktape`. I was able to run `decktape` without errors now. I use [xaringan](https://github.com/yihui/xaringan) with `

[2017-01-27 14:06] astefanutti commented on #85
Good to hear! Thanks for the update!

[2017-01-27 15:24] astefanutti commented on #78
I've tried reproducing the issue using the following Arch Linux based Docker image spec:
[code]
Exporting the _default_ Remark [presentation](https://remarkjs.com/), that contains references to  https://fonts.gstatic.com/ and https://fonts.googleapis.com/, works as expected.

So unfortunately I'm unable to reproduce. Even if you have no error with other applications on your system, I may suggest t

[2017-01-27 16:06] astefanutti commented on #76
Thanks for the minimal example and sorry for the delay.

I've just tried exporting the example with DeckTape 1.0.0 and have been able to produce the following PDF: [test.pdf](https://github.com/astefanutti/decktape/files/735661/test.pdf). I've tested it on Mac OS X and Linux, without being able to reproduce your issue.

Note that I've just changed the example to use the latest MathJax lib from the

[2017-01-27 16:53] matthewsmithgls commented on #82
I am having the same issue as thhancock when i try to convert using nbconvert the graphics from my plot.ly charts do not show up in the PDF.

Testing different charts and pauses led me to the following.  The pause did not make a difference but the type of chart did.  I get graphics if I try to convert a line chart to PDF but if i run the exact same code only changing the chart to a bar nothing sho

[2017-01-27 17:29] pat-s commented on #85
@astefanutti According to [this comment](https://github.com/yihui/xaringan/issues/27#issuecomment-273614204) it shall be related to `decktape`. Is there any way that `decktape` can support relative paths?

[2017-01-27 17:34] astefanutti commented on #85
AFAIK, relative paths work in PhantomJS, hence in DeckTape. I've tried it multiple times without an issue, though you may have some more complex cases. Would you be able to share your example or at least a minimal presentation that produces the error?

From the error, it looks like PhantomJS tries to load the image from the `/AK-TQMG/img/gdal-overview.png` absolute path, which I understand is not

[2017-01-27 17:40] pat-s commented on #85
Here are the html file and the images: [Demo.zip](https://github.com/astefanutti/decktape/files/735881/Demo.zip)

Can you reproduce the error with these file?
If you need more info/help, just say so :)

[2017-01-27 18:23] astefanutti commented on #79
I've just tried with an updated image, having the `ttf-mscorefonts-installer` package installed in addition, and exporting an HTML page with some text styled with `font-family: 'Georgia'` gives a positif result. In that case, the `Georgia.ttf` font resolves:

    $ fc-match 'Georgia'
    Georgia.ttf: "Georgia" "Normal"

However, with `font-family: serif` it fails, using a sans-serif style font to

[2017-01-27 18:23] #79 closed

[2017-01-27 18:30] astefanutti commented on #67
Following-up on #79, I've just tried with an updated Docker image, having the `ttf-mscorefonts-installer` package installed in addition, and exporting an HTML page with some text styled with `font-family: 'Georgia'` produces a correct result. In that case, the `Georgia.ttf` font resolves:

    $ fc-match 'Georgia'
    Georgia.ttf: "Georgia" "Normal"

However, with `font-family: serif` it fails, us

[2017-01-27 18:34] astefanutti commented on #85
As the presentation is loaded from the file system, PhantomJS translates the following path:

    <img src='/path/to/image.png' />

To:

    <img src='file:///path/to/image.png' />

As it interprets the leading forward slash as specifying an absolute path.

Could you try by removing the leading forward slash?

[2017-01-27 18:50] pat-s commented on #85
When doing so, the images in my html output are not found.
They are only found with the leading slash.

Nevertheless, when manually applying the fix you mentioned in the html file, I get the following error:

[code]

For some reason, the full path is taken although the image is specified as `AK-TQMG/img/gdal-overview.png` in the html file. Checked several times to make sure that I did not call `de

[2017-01-27 20:48] JanoschDeurer commented on #76
Hey, thanks for the answer. I use the latest docker image, I should have mentioned this before to make reproducing the error easier. My setup is as follows:

I make revealjs available on port 8000 using the following docker image I created:
[https://hub.docker.com/r/agiled/reveal.js-docker/](url)

I just updated my local version of the container to the latest MathJax from Github, so this should be

[2017-01-27 21:02] astefanutti commented on #85
I've updated the paths by removing the leading slashes and have been able to produce the following PDF: [test.pdf](https://github.com/astefanutti/decktape/files/736245/test.pdf).

Please find the updated project: [test.zip](https://github.com/astefanutti/decktape/files/736248/test.zip) so that you'll be able to adapt yours.

Note that PhantomJS reports the absolute path for troubleshooting purpose

[2017-01-27 21:02] #85 closed

[2017-01-28 09:52] pat-s commented on #85
@astefanutti Thanks for testing!

Am I right that the relative path of the 'img' folder has to be specified relative to the html file directory for `decktape` to work and needs to be without leading slashes?

While manually adapting the image path is working, its tedious. So it makes no difference if I change it to the full path or adapt the relative path -> adaption is always needed. The problem

[2017-01-29 13:34] astefanutti commented on #85
Your understanding is correct. This is what Web browsers would to in general.

This looks more like a limitation of the tool. Maybe you could serve your presentations with a local Web server with the document root serving the presentation directory. That way you may be able to keep the leading slash...

[2017-01-29 15:13] astefanutti commented on #76
I've been able to reproduce the issue with the following:

    $ docker run --rm -v `pwd`:/slides astefanutti/decktape index.html test.pdf --load-pause=20000

There are multiple things:
- Reveal loads the MathJax extension asynchronously, so adding the `--load-pause` option make sure all the dependencies get loaded (that explains the behaviour change when adding or removing empty slides);
- The `T

[2017-01-29 15:31] astefanutti commented on #76
As a additional note, it seems the HTML-CSS output retrieve the font data for the formulas from: https://cdn.mathjax.org/mathjax/latest/jax/output/HTML-CSS/fonts/STIX/fontdata.js?V=2.7.0. It may be that PhantomJS is not capable of taking those fonts into account correctly.

[2017-01-29 21:49] sedrubal commented on #84
The problem seems to be the

[code]

at the top of the presentation. Removing `transition: fade` fixes the problem.

[2017-01-29 23:26] astefanutti commented on #84
Do you mean it's specific to HackMD and that you can export other presentations with `transition: fade` to PDF successfully?

[2017-01-30 01:14] sedrubal commented on #84
Yes.

[2017-01-30 09:31] astefanutti commented on #84
I suspect this is due to the HackMD CSS that gets added over Reveal CSS:

[code]
And maybe other HackMD customisations to Reveal that, for some reasons, PhantomJS is not capable of rendering.

I don't think there is much I'll be able to do about it. I plan to rebase DeckTape on the latest 2.5 version of PhantomJS which brings better CSS3 support, among many other things. So chances are this issue

[2017-01-30 12:40] pat-s commented on #85
I just tried again to set relative image paths (without leading slashes) to the html root dir when producing the html file with `xaringan` and - it worked now.

That is strange to me. I can not reproduce the errors I had before during so many attempts (including several software + PC restarts).

`decktape` is fine, many thanks to your quick replies here and sorry for stealing so much time :sweat:

[2017-01-30 13:39] astefanutti commented on #85
Great. I'm glad it works for you now!

[2017-02-07 19:07] pboesu commented on #71
Just for the record: I had the same `libssl` error message as darribas on a OSX Yosemite machine running MacPorts.
`dyld: Library not loaded: /usr/local/opt/openssl/lib/libssl.1.0.0.dylib`

In my case, adding a symlink from the presumed Homebrew path `/usr/local/opt/openssl/lib` to the corresponding MacPorts path  `/opt/local/lib/` fixed the issue.

[2017-02-16 11:23] houssemGeek opened #86 "Rotated text from slides.com presentation prints horizontally"
I created a presentation using Reveal (see, please, the screenshot below) that containing a vertical text, but unfortunately this can't appear correctly in my pdf.

![screencapture](https://cloud.githubusercontent.com/assets/6786605/23019416/846da9ea-f442-11e6-9a95-61f74261c7ab.png)

[mypres.pdf](https://github.com/astefanutti/decktape/files/779890/mypres.pdf)

[2017-02-16 11:43] astefanutti commented on #86
How is the text vertically rotated? Could you try the following: http://stackoverflow.com/a/32971855/601347

Next major item for DeckTape that I plan is to rebase on top of PhantomJS 2.5 which brings CSS3 support so standard `transform:rotate` will be working.

[2017-02-16 13:50] houssemGeek commented on #86
I just roted the text box in the editor that I use (see, please, the screenshot below).
![screen1](https://cloud.githubusercontent.com/assets/6786605/23023733/28c5c3c4-f457-11e6-9fd3-643537be8baf.png)
![screen2](https://cloud.githubusercontent.com/assets/6786605/23023735/2b858284-f457-11e6-854b-b05b8cbf138b.png)

[2017-02-16 14:18] astefanutti commented on #86
I've just tried exporting a simple deck from the Reveal / slides.com editor and it confirms the editor does not output the `-webkit-transform` attribute:
[code]

A work-around for you is to export your presentation and edit the HTML to add the missing `-webkit-transform` attribute. The long term solution will be for DeckTape to rely on the latest PhantomJS version that brings proper CSS3 support.

[2017-02-17 10:15] houssemGeek commented on #86
Thanks, it works for me. Otherwise, I tried to print a screenshot but it doesn't work unfortunately ... an other feature to add?

[2017-02-17 10:18] astefanutti commented on #86
Do you mean you tried exporting the slides with the `--screenshots` and it didn't work? What error did you face?

[2017-02-17 10:21] houssemGeek commented on #86
This the command that I used:
`./phantomjs decktape.js --screenshots  --slides 1 my_url screenshot.png`
And this is the image:
![screenshot](https://cloud.githubusercontent.com/assets/6786605/23061692/2ef480f8-f503-11e6-923d-c8790d9da2d5.png)

[2017-02-17 10:26] astefanutti commented on #86
Ah, for the moment the second positional argument is always the PDF document to export. the `--screenshots` option exports the screenshots in the `screenshots` directory (can be changed with the `--screenshots-directory ` option). So you should be doing:

    ./phantomjs decktape.js --screenshots --slides 1 my_url slide.pdf

And you'll get the screenshot written in the `screenshots` directory.

I'

[2017-02-17 10:50] houssemGeek commented on #86
Great, I founded my image in the `screenshots` directory.

[2017-02-17 16:55] houssemGeek commented on #86
astefanutti  I found something that looks strange to me:
I put a static Html code in my view `-webkit-transform: rotate (270deg);` and I print my page correctly

Otherwise, I diminish the process it doesn't work any more!

`var slBlock = $('.sl-Block');`
      `        slBlock.each(function () {`
   `                    var angle = getRotationDegrees($(this));`
   `                    if (angle ==

[2017-02-17 17:16] astefanutti commented on #86
Ah that should theoretically work! There must be an error or a small difference somehow.

I'm surprised it prints `0` even with the `angle == 90` condition!

[2017-02-17 17:27] houssemGeek commented on #86
hhhh you have reason I mean:
`var slBlock = $('.sl-Block');
slBlock.each(function () {
var angle = getRotationDegrees($(this));
if (angle == 90) {
console.log(angle); // 90 in navigator and in terminal 0 !
$(this).css('-webkit-transform', angle);
 // ...
}
});`

[2017-02-17 17:35] astefanutti commented on #86
So it looks like there is a difference in the `getRotationDegrees` method. What's the method code?

[2017-02-17 21:15] houssemGeek commented on #86
Ok, this the `getRotationDegrees` function:

`function getRotationDegrees (obj) {
    var matrix = obj.css("-webkit-transform") || obj.css("transform");
    var angle = 0;
    if (matrix !== 'none') {
        var values = matrix.split('(')[1].split(')')[0].split(',');
        var x = values[0];
        var y = values[1];
        angle = Math.round(Math.atan2(y, x) * (180/Math.PI));
    }

    retu

[2017-02-20 21:25] houssemGeek commented on #86
Finally, I managed to do it!

[code]
What do you think?

[2017-02-21 11:08] astefanutti commented on #86
Cool! So that leads to the question whether we want to integrate that kind of adaptation into DeckTape.

It could be done either in the `configure` method of the Reveal plugin, or globally through an extension mechanism, like I drafted a while ago @eb0e3c63c91484b9d350175d19bd07026e68a924, as it's not Reveal specific after all.

On the other hand, it will become irrelevant when DeckTape will be re

[2017-02-24 15:23] houssemGeek commented on #86
Great, I am excited for the next PhantomJS!

[2017-03-08 09:39] houssemGeek commented on #86
I'am foxing on generating screenshots for my presentation (like above) with `deckatape`, but I have both screenshots and pdf. Can I get only the screenshots to reduce execution time?

[2017-03-08 09:51] astefanutti commented on #86
Ah no, for the time being you always get the PDF produced. I'm thinking about refactoring the CLI so that PDF becomes optional. In the meantime, you can work-around by removing the `then(printSlide)` at: https://github.com/astefanutti/decktape/blob/b6f3830ba939541ecc3900035c11fd9d1ee62b65/decktape.js#L315.

Probably the execution time is due to the pause, that you can change at https://github.com/

[2017-03-08 10:30] houssemGeek commented on #86
OK, I'am agree with the idea that the pdf will be optional when printing images / screenshots.
On the same logic, If I reduce the pause for printing pdf at: https://github.com/astefanutti/decktape/blob/b6f3830ba939541ecc3900035c11fd9d1ee62b65/decktape.js#L51, that will be less time?

[2017-03-08 10:34] astefanutti commented on #86
Indeed, you can control the pause between each slides with the `--pause` option. It defaults to 1s so that most frameworks will complete rendering the slides within that timeframe, though you can reduce that pause in case you know your slides render faster.

[2017-03-08 15:25] houssemGeek commented on #86
Cool, I win nearly half time execution in the pdf! but I still have nearly the same time in printing screenshot.
Can I decrease the time at https://github.com/astefanutti/decktape/blob/b6f3830ba939541ecc3900035c11fd9d1ee62b65/decktape.js#L328 , ?

[2017-03-08 15:29] astefanutti commented on #86
Yes, that delay serves the same purpose so you can try decreasing it as well.

[2017-03-09 00:10] szpak commented on #54
I've just tried it and it works just fine. Thanks @abingham - a handy alternative to running DeckTape wiht Docker.

@astefanutti I would be useful to mention it in README when available as decktape.io.

[2017-03-09 00:40] szpak opened #87 "Relatively large PDF file"
PDF of my presentation with ~120 slides (just text and code almost without images - code has font defined correctly and it is not rendered as a bitmap) created with DeckTape 1.0.0 takes ~3,5MB. Almost the same presentation generated some time ago using Chrome takes ~800KB. The interesting is that both files compressed with 7z takes almost the same amount of space.

I plan to dig a little bit what

[2017-03-09 09:26] astefanutti commented on #87
I haven't look that much into QT PDF compression tuning yet. From my experience, the usual cases that tend to contribute to larger file size is:
- Opacity < 1 that leads to text being rendered as bitmap; my assumption is that QT does not leverage PDF transparency yet and falls back to bitmap rendering;
- Text being rendered as vector primitives instead of embedded font glyphs; that happens when fo

[2017-03-09 09:26] astefanutti commented on #54
@szpak that's the plan, I'll do it ASAP.

[2017-03-09 10:14] szpak commented on #87
I already eliminated opacity (by just using gray font instead of black which was enough in my case) and font glyphs in code (by defining font for code explicitly - not just sans-sherif). I have a logo on the every slide - I will check it.

[2017-03-13 21:42] pat-s opened #88 "SyntaxError: Unexpected token '%'"
Getting the following error since a few days

[code]

Reinstallation solves it for one run, then the problem occurs again. I'm on macOS 10.12.3 using the Remark plugin

[2017-03-14 08:50] astefanutti commented on #88
It looks like _something_ touches the file(s) after installation. Can you look at the location pointed out by the error, that is first line of `//code/decktape.js` and check if there is a `%` character?

[2017-03-15 08:23] pat-s commented on #88
Here are the first 20 lines of `decktape.js`

[code]

[2017-03-15 08:25] astefanutti commented on #88
It looks like a PDF file. So it seems like _something_ overrides the `decktape.js` script with a PDF file. That explains why it works after install and then breaks.

[2017-03-15 08:31] pat-s commented on #88
Yeah. So it seems that the output (when it works once) is not only written to the outcome pdf but also overrides `decktape.js`.

Its strange that this happened from one day to the other although I used `decktape` before dozen of times with the same call(s). Do you have an idea which application/lib could be involved here/is in charge of writing the pdf file?

[2017-03-15 08:33] astefanutti commented on #88
How to you invoke DeckTape? What's your environment?

[2017-03-15 08:34] pat-s commented on #88
Followed exactly your README. I'm on macOS 10.12.3 (Sierra)

[2017-03-15 08:39] astefanutti commented on #88
Which part? 😃 What exact command are you using the first time the `decktape.js` script gets overwritten?

I cannot think of any application / libs that could induce such a behaviour. I suspect the command you're running somehow resolves the PDF output positional argument as being the `decktape.js` first argument for some reasons...

[2017-03-15 09:32] pat-s commented on #88
ah you mean the execution command:

Ahh I just saw that (for whatever reason) `~/tools/decktape-1.0.0/decktape.js` was inserted in the position of the output pdf argument (maybe some copy/pasting error) - so my fault and everything is fine.

Sorry for stealing your time :)

[2017-03-15 09:32] #88 closed

[2017-03-15 09:36] astefanutti commented on #88
No worries, I'm glad we work this out!

[2017-03-20 12:38] wrzasa commented on #67
Is there a quick workaround?

[2017-03-20 12:57] astefanutti commented on #67
@wrzasa if you can easily change your CSS style, one alternative is to specify the font name directly instead of the font family.

[2017-03-20 13:10] wrzasa commented on #67
Thank you very much! Very helpful!

[2017-03-20 13:41] wrzasa commented on #67
For anyone looking for quick workaround, this worked for me:
[code]

[2017-03-24 13:55] schlichtanders opened #90 "SVG text is extremely tiny"
When using a svg within a reveal.js presentation, the size of the text is way too small
(you might even think there is no text)
![decktape svg tiny text](https://cloud.githubusercontent.com/assets/4255480/24297072/b2914e46-10a1-11e7-940c-bc55cdbfab1f.PNG)

The example svg I got from https://demos.explosion.ai/displacy/ where at the top right there is an export button which asks you to save a ``dis

[2017-03-24 15:23] schlichtanders opened #91 "MathJax rendering is indeterministic"
I am using rise plugin (builds upon reveal.js). Running `phantomjs decktape.js rise <URL> <OUTPUT.PDF>` several times without any changes inbetween results in different rendering mathjax formulas each

### some example screenshots
first run:
![decktape formula 1](https://cloud.githubusercontent.com/assets/4255480/24300841/0b7c4964-10ae-11e7-8178-866c485ff3f4.PNG)
second run:
![decktape formula 2](

[2017-03-24 15:39] astefanutti commented on #91
It may be due to Reveal loading the MathJax extension asynchronously, so adding the `--load-pause` option may help guaranteeing that everything gets loaded correctly. It is detailed in https://github.com/astefanutti/decktape/issues/76#issuecomment-275919992.

[2017-03-24 16:00] schlichtanders commented on #91
I added ``--load-pause=20000``

unfortunately, the first run it showed the same as the "first run" above

luckily all the other 4 runs I tested showed the most desirable output which above was "second run"

so it seemed to have worked kind of - thanks a lot for your quick response!

[2017-03-24 16:08] astefanutti commented on #91
Great. Let me know you results. I drafted proper support for MathJax loading a while back  @eb0e3c63c91484b9d350175d19bd07026e68a924 and I'd be interested with your tests so that I consider pushing that work further or not.

[2017-03-31 11:42] marquiz commented on #78
I'm seeing similar problem (with phantomjs v2.1.1) on Fedora25. Virtually all google urls fail to load. With PhantomJS version 1.9.8 they load perfectly fine

[2017-04-09 08:22] sinedied commented on #83
Any update on this? This would also allow #53

[2017-04-09 08:46] sinedied opened #92 "Not working with remark?"
When I try to convert a slideshow made with remark, I get this error:
[code]

I'm using the latest stable version of remark from there: `https://remarkjs.com/downloads/remark-latest.min.js`

Did I miss anything?

[2017-04-10 08:00] astefanutti commented on #83
I'm still waiting a bit for PhantomJS 2.5 beta to stabilise a bit. Then I plan to do the upgrade and merge the DeckTape bits into it. That's something I definitely want to do ASAP.

[2017-04-10 08:19] astefanutti commented on #92
I've just tested with the _official_ Remark presentation (which uses `https://remarkjs.com/downloads/remark-latest.min.js`) and it works:

[code]

What command and DeckTape version do you use? Would you be able to share the presentation you're trying to export so that I can reproduce?

[2017-04-10 10:00] sinedied commented on #92
I tried with a fresh decktape 1.0.0 setup.

Here is an example presentation failing: [test.html.zip](https://github.com/astefanutti/decktape/files/909662/test.html.zip)

The remark script is inlined from `https://remarkjs.com/downloads/remark-latest.min.js`.

The markdown is inlined from just this:
[code]

[2017-04-10 10:40] astefanutti commented on #92
The typical way DeckTape detects RemarkJS presentation requires having the `remark` and `slideshow` global variables defined. See [plugins/remark.js#L14](https://github.com/astefanutti/decktape/blob/4f43673ee5ce53eaf4672aa9316d9b1d65b780dd/plugins/remark.js#L14). This is what does the `remark-latest.min.js`.

The issue is likely due to the way the remark script is inlined in the presentation. One

[2017-04-10 16:25] sinedied commented on #92
Ok from your I understand what's missing: the global `slideshow` variable was not there, hence the remarkjs mode not enabled. The inlining has nothing to do with that :)

Once fixed, this works as expected so I close this issue, thanks for the hint 👍

[2017-04-10 16:25] #92 closed

[2017-04-21 16:55] eljefe6a opened #93 "CSS Media Type"
PhantomJS is supposed to set the media type to `print`. Decktape's rendering sets the media type to `screen`. Is there a way to change Decktape's CSS media type to `print`?

I spent a while looking around for the reason for the difference and I couldn't find it.

[2017-04-21 17:09] astefanutti commented on #93
DeckTape does not use the _standard_ PhantomJS PDF print method. IIRC, this is that method call that set the media type to `print`. As DeckTape uses another _printer_, its leaves the media type to the default `screen`.

It is intended in the sense that most HTML presentations are not meant to be rendered with the `print` media type. For those that does, then I would imagine there is no need for De

[2017-04-21 17:18] eljefe6a commented on #93
The use case is that Chrome renders slightly different than PhantomJS. In my case, the font size in PhantomJS's rendered font length is 30 pixels longer than Chrome's. I planned to use `print` to change PhantomJS's font size to be slightly smaller and match Chrome's rendering.

[2017-04-23 00:27] eljefe6a commented on #93
To make this issue more clear: this extra 30-100 pixels makes my PhantomJS renders have scroll bars on my code snippets. Chrome doesn't have these scroll bars. It completely messes up the slide and I don't have a great to find these scroll bars unless I render out the slides and visually find them.

[2017-04-24 12:02] astefanutti commented on #93
Would you be able to share a minimal use case / deck that I can use to reproduce the font rendering issue? If yes, I would suggest you create another issue with that specific example. I would rather try to address that root cause rather than trying to support overriding the media type.

[2017-04-24 12:36] eljefe6a commented on #93
Here's how to repeat:

1. Use Remark
2. Add a fenced code segment that goes all the way to edge of the box in Chrome, but doesn't create a scroll bar. Depending on the font size, that's about 100 characters.
3. Render out the slide with PhantomJS. You will get a scroll bar.

[2017-04-24 12:41] astefanutti commented on #93
OK I'll try to set that up ASAP. In the meantime, if you have the example code at hand, that'd speed things up 😉.

[2017-04-24 23:34] utdrmac opened #94 "Slides option with more than one digit numbers does not work"
If you specify `--slides` > 9, then decktape cannot parse this number properly and prints the wrong slide.

In this example, I only want to print slide 16. But what actually prints is slide 6.

[code]

Attempting 47 only printed slide 7, etc, etc

[2017-04-24 23:36] utdrmac commented on #94
[code]

This printed slides 5 through 17 instead of only printing 3 slides, 15 16 & 17

[2017-04-25 08:12] astefanutti commented on #94
Thanks a lot for the report. I've just fixed in @41861c1.

In the meantime a new release is cut, you can apply the change @41861c1 directly into you local installation.

[2017-04-25 08:12] #94 closed

[2017-04-25 16:21] utdrmac opened #95 "Copy/paste of preformatted block from PDF breaks formatting"
See attached RemarkJS source code which contains 2 slides, the first one of which has some block code. This renders OK in the PDF with exception of issues raised in #67. When you attempt to select and copy this block code, and paste into a text editor/terminal, the formatting is completely lost. This is the result of copy/paste from slide 1 in this PDF:

[code]

[test.pdf](https://github.com/astef

[2017-04-26 09:24] astefanutti commented on #95
I've just tried to reproduce and it seems the result depends on the PDF reader used, e.g., with Acrobat Reader and Chrome (pdf.js), I get:

[code]

And with Mac OS Preview:

[code]

Out of curiosity, what PDF reader are you using?

I've tried printing to PDF the presentation directly with Chrome and I get the following result with Acrobat Reader:

[code]

I could dig into how exactly the code bloc

[2017-04-26 20:11] utdrmac commented on #95
Ah. I should have mentioned that. I was using MacOS Preview, as that is the default PDF viewer. I don't have Acrobat Reader. I just opened my test.pdf inside Chrome and it copied fine. I guess that'll be a caveat. *shrug*

[2017-04-27 07:20] astefanutti commented on #95
I'm glad it works for you using Chrome. MacOS preview is a general purpose viewer so I can imagine it's not perfectly tailored for PDF. Anyway if other people mention that issue, I may find a place to add that kind of caveat. In the meantime, let me close that issue and do not hesitate to reopen if you face any other problem.

[2017-04-27 07:20] #95 closed

[2017-05-15 11:42] eduardsi opened #96 "Mention decktapify in the docs"
Hello!

I have developed a free HTTP service for exporting HTML5 presentations to PDF. It uses a fantastic Decktape under the hood. Please consider mentioning it in the docs – https://github.com/devternity/decktapify

[2017-05-15 15:17] astefanutti commented on #96
Thanks for the heads-up!

I'll add a dedicated section to the README to list the available online services based on DeckTape.

[2017-06-27 17:23] eljefe6a opened #97 "Phantom and Chrome"
The PhantomJS maintainer is [stepping down](https://www.infoq.com/news/2017/04/Phantomjs-future-uncertain) because [Chrome](https://developers.google.com/web/updates/2017/04/headless-chrome) and Firefox are going to support headless browsers now. Do you have any thoughts on Decktape given this news? Will Decktape start using Chrome or does headless mean you can execute a bash script to output a PD

[2017-06-27 17:32] eljefe6a commented on #97
I've taken a look at [Chrome's headless API](https://developers.google.com/web/updates/2017/04/headless-chrome#node) and it looks like we'll still need a Decktape of some kind to script and output the slides correctly.

One of the reasons I moved from manual Chrome printing to Decktape is because Remark doesn't size the PDF output correctly. The slide only occupies a smaller portion of the documen

[2017-06-27 17:48] eljefe6a commented on #97
[This is](https://chromedevtools.github.io/devtools-protocol/tot/Page/#method-printToPDF) the method that will print out a PDF. My guess is that Remark slides would need a sleep for some time, run `printToPDF` with the appropriate properties, and save out the Base64 encoded PDF to a file.

[2017-07-03 08:49] astefanutti commented on #97
Thanks for starting the discussion. They are multiple points here that I would articulate under the two following parts:

#### Web browser drivers support

Ideally, DeckTape would work across the various Web browser drivers available out there. We've already tried that approach with SlimerJS in #7. Generally, they tend to implement / support the PhantomJS API and it seems that's a direction the Ch

[2017-07-12 12:05] yumweb opened #98 "Tables with linear gradient background do not render correctly"
Hi There!

I am creating a PDF with Shower Framework. There is a table in the HTML file. Only the last row in the table is being rendered when the PDF is viewed on Chrome. The table appears to be fine when the PDF is viewed on a normal viewer. Attached is the image of the issue.

Below is the HTML used

[code]

![image](https://user-images.githubusercontent.com/13010493/28116711-f35807a8-6727-11e7

[2017-07-14 14:08] astefanutti commented on #98
I've tested exporting the table above and open the produced PDF with Chrome and haven't been able to reproduce. So I suspect this has to do with something more specific to your presentation. Would you be able to share a minimal presentation that I could use to try reproduce?

On the other hand, Shower is supposed to provide PDF export out of the box, as documented in [github.com/shower/shower/docs

[2017-07-14 14:38] yumweb commented on #98
Hi Antonin,

Thanks for your reply. I looked at it carefully and noticed that the content in the table is being printed in the PDF but Chrome PDF viewer is applying a Black background to all the cells _except_ for the last row and `<th>` if present.

Here is the sample HTML used — [html.zip](https://github.com/astefanutti/decktape/files/1148673/html.zip) and the PDF generated from DeckTape — [1500

[2017-07-14 15:21] astefanutti commented on #98
Thanks a lot for the detailed use case. I've been able to reproduce.

It seems it is caused by the linear gradient background in your styles:

[code]

Removing it makes the presentation exporting fine.

Linear gradient rendering in PDF is still problematic in PhantomJS and already affects DeckTape (#61).

Let me know if that's acceptable to change the background style as a work-around solution.

[2017-07-14 17:07] yumweb commented on #98
Ah! I don't know why did I not check the styles on the tables. Actually I was using the Vanilla Shower template. The Shower template itself is shipping the styles with linear-gradient properties. Hence the confusion

https://shwr.me/shower/themes/ribbon/styles/screen-16x10.css
https://shwr.me/shower/themes/material/styles/screen-16x10.css

Anyways, this is perfectly acceptable and my PDF's are gen

[2017-07-14 17:07] #98 closed

[2017-07-14 17:17] astefanutti commented on #98
I'm glad it works for you!

[2017-08-06 20:48] SergiosGarcia commented on #55
Hi all here , well im from argentina , im looking for the 2.5 beta for win 32 please
can you compile for both system 32 and 64 always, because is a greate aplication , take care i hope you can compile for 32 bith too.

[2017-08-09 16:07] lowescott opened #99 "libssl.1.0.0.dylib error on Mac OS with latest forked PhantomJS binary"
Hi all, I'm running into this error on both macOS Sierra (10.12.5) as well as OS X El Capitan (10.11.6):

[code]

This looks similar to the error reported in #71, but happening on both Sierra and El Capitan. Is there any solution **other** than using `brew` to install a custom OpenSSL version?

[2017-08-10 08:48] astefanutti commented on #99
It may be due to the fact that the binary build linked against the OpenSSL libraries installed via Homebrew as opposed to the system libraries.

I could try re-building the binary but I'm afraid PhantomJS requires OpenSSL 1.x API which may not be compatible with version 0.9.x, that seems to be the version shipping with Mac OS X:

    /usr/lib/libssl.dylib@ -> libssl.0.9.8.dylib

It's probably the

[2017-08-12 15:17] astefanutti commented on #99
If the above is correct, I would have expected the OpenSSL library to be statically linked. That's an additional point to check.

It seems it will change in PhantomJS 2.5, see ariya/phantomjs#14320.

[2017-08-14 10:05] lowescott commented on #99
FWIW, the current "official" PhantomJS binary (2.1.1) does not produce the same libssl error on either macOS 10.11.6 or macOS 10.12.5. Of course, it doesn't work with Decktape, either.

[2017-08-14 10:59] astefanutti commented on #99
That's good to know. Indeed, outputting the shared libraries used by the Decktape binary print `/usr/local/opt/openssl/lib/libssl.1.0.0.dylib`:

[code]

While the 2.1.1 "official binary" does not (yet does not print dependency on system installed OpenSSL???):

[code]

It seems it's been introduced with ariya/phantomjs@6991949e74e3115472754198ec7e1c6793f1fbdd.

At a short term workaround, I wonder

[2017-08-14 11:55] lowescott commented on #99
@astefanutti So, I actually tried that. If you link to the `libssl.dylib` file in `/usr/lib`, you're getting version 0.9.8 and PhantomJS complains with a version error (indicating that it requires version 1.0.0 or later). On my system, I have an application installed that bundles `libssl1.0.0.dylib`, so I tried linking to that. Then it complains about needing `libcrypto1.0.0.dylib`. The applicatio

[2017-08-14 17:23] astefanutti commented on #99
Ah that's what I feared 😞. I still wonder how the 2.1.1 binary SSL support has been built and why it hasn't statically linked OpenSSL installed via Homebrew on my machine...

From the 2.1.1 build script, my understanding is that OpenSSL should come from Homebrew or MacPorts to use a newer version compared to the old system installed one, but should be statically linked:
https://github.com/ariya/ph

[2017-08-16 22:32] SJern commented on #71
`export DYLD_FALLBACK_LIBRARY_PATH=/usr/local/opt/openssl/lib:$DYLD_LIBRARY_PATH`

Also worked for me

[2017-08-16 23:04] astefanutti opened #100 "Migrate to Puppeteer"
From early testing of [Puppeteer](https://github.com/GoogleChrome/puppeteer), it seems it'd be possible to migrate to it to leverage headless Chrome.

1. Export engine:
    - [x] Force the `screen` CSS media type for presentation frameworks that define some `print` styles
        - See GoogleChrome/puppeteer#312
        - In the meantime, `print` CSS rules are deleted and the `screen` rules are mu

[2017-08-16 23:06] astefanutti commented on #97
It seems [Puppeteer](https://github.com/GoogleChrome/puppeteer/) could be used to leverage headless Chrome. Let's track that effort in #100 and close this one.

[2017-08-16 23:06] #97 closed

[2017-08-17 16:20] astefanutti commented on #100
Initial implementation has started in the [puppeteer](https://github.com/astefanutti/decktape/tree/puppeteer) branch.

In-memory merging of individual slide PDF export is achieved via [HummusJS](https://github.com/galkahana/HummusJS), which seems to work well. The only drawback is that we lost reusable graphics for the time being hence an increase in final PDF size. However it may be possible to a

[2017-08-17 16:50] eljefe6a commented on #100
I wrote a [PDF output](https://github.com/eljefe6a/RemarkMacros/blob/master/remarkprinter.js) for Remark. This method may not work with other presentation projects, but Remark does recognize the print mode.

One issue I found with this was that some text didn't show up. I haven't figured out that was happening. It only happened on code sections (this didn't happen when printing from GUI). You migh

[2017-08-18 11:26] astefanutti commented on #100
@eljefe6a thanks for the heads-up. Indeed Remark, as well as Shower, seem to work pretty well with Chrome PDF print. That being said, I'd be inclined to keep the Decktape principle of _screen printing_ even for these frameworks. That would offer an alternative and keep the code simpler.

I've been able to export the _standard_ Remark presentation (based on my current work with headless Chrome and

[2017-08-18 16:14] eljefe6a commented on #100
It took me a few hours, but I figured out that issue. There seem to be some differences between running Chrome in headless versus the GUI.

This one turned out to be a web font issue. When I installed the font as system font, it worked with headless. The web font rendered fine when running in regular Chrome. To see if it was an issue with spinning up Chrome, I disabled headless and rendered the PD

[2017-08-19 02:54] pganssle opened #101 "Reveal.js presentation fails to render (ReferenceError: Can't find variable $)"
I'm trying to create a PDF of my presentation - it was generated from a Jupyter notebook by `nbconvert --to-slides` (not using RISE). When I try and run decktape on it, I get `ReferenceError: Can't find variable: $`:

[code]

I found [this issue](https://github.com/damianavila/RISE/issues/127), which seems similar, but slightly different. That seems to be an issue with Reveal failing to load, wher

[2017-08-21 07:57] astefanutti commented on #101
Opening the Chrome console and navigating the presentation produces the error as well. So it seems this is an issue with the Jupyter notebook export.

That being said, it is not blocking and I've been able to successfully export the presentation with Decktape. It's  just that the error get propagated to the Decktape output. Let me know if that's the case for you too.

[2017-08-21 11:18] astefanutti commented on #100
@eljefe6a It may be related to GoogleChrome/puppeteer#422.

[2017-08-21 12:32] pganssle commented on #101
@astefanutti Ah, so it does! For whatever reason the first time it didn't generate the presentation, and in later tries apparently it was generating it in a pdf/ file and I guess I didn't look.

Weirdly, the fonts (especially the monospaced ones) seem a bit messed up. Does the version you created also handle monospaced fonts wrong?

[2017-08-21 12:41] astefanutti commented on #101
@pganssle great. For the font issue, it's likely related to #67. One workaround is to modify your CSS styles as in one of the comment.

If you feel adventurous, you can try the [2.x](https://github.com/astefanutti/decktape/tree/2.x) alpha that's based on Chrome. I'm attaching the PDF I've produced with it: [test.pdf](https://github.com/astefanutti/decktape/files/1238791/test.pdf).

[2017-08-21 16:29] pganssle commented on #101
@astefanutti Good call. I'll try playing around with the 2.x thing (I think I need to mess with the screen size to get it to look right). Thanks for the help!

[2017-08-21 16:29] #101 closed

[2017-08-25 13:21] astefanutti opened #102 "Re-create standalone executables for Chrome"

[2017-08-25 13:22] astefanutti commented on #100
Merged at d093317103f70b8799495bafd09e96943b707608. Follows up in #102 for standalone executables.

[2017-08-25 13:22] #100 closed

[2017-08-25 13:23] astefanutti commented on #37
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 13:23] #37 closed

[2017-08-25 13:24] astefanutti commented on #53
Fixed in version 2.x that uses headless Chrome.

[2017-08-25 13:24] #53 closed

[2017-08-25 13:25] astefanutti commented on #61
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 13:25] #61 closed

[2017-08-25 13:25] astefanutti commented on #67
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 13:25] #67 closed

[2017-08-25 13:26] astefanutti commented on #84
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 13:26] #84 closed

[2017-08-25 13:26] astefanutti commented on #86
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 13:26] #86 closed

[2017-08-25 13:29] astefanutti commented on #90
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 13:29] #90 closed

[2017-08-25 13:31] astefanutti commented on #93
Should be fixed in version `2.0.1` that uses headless Chrome. We will be able to use the `page.emulateMedia` API if necessary introduces with GoogleChrome/puppeteer#312.

Let me know if you still face this issue.

[2017-08-25 13:31] #93 closed

[2017-08-25 15:14] astefanutti commented on #76
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 15:14] #76 closed

[2017-08-25 15:15] astefanutti commented on #78
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 15:15] #78 closed

[2017-08-25 15:17] astefanutti commented on #45
Should be fixed in version `2.0.1` that uses headless Chrome. Let me know if you still face this issue.

[2017-08-25 15:17] #45 closed

[2017-08-25 15:25] astefanutti commented on #99
DeckTape 2.x now uses Puppeteer / headless Chrome, which somehow should fix that issue.

[2017-08-25 15:25] #99 closed

[2017-08-25 15:39] astefanutti commented on #80
DeckTape 2.x now uses Node and Chrome. I'm afraid both Node and Chrome have dropped support for Windows XP though you can still give it a try as it's unlikely I build a new version of the PhantomJS binary as PhantomJS has been abandoned.

[2017-08-25 15:39] #80 closed

[2017-08-25 15:52] astefanutti commented on #69
DeckTape 2.x is responsible for the PDF creation so that should be a lot easier to implement metadata retrieval and writing.

[2017-08-25 15:53] astefanutti commented on #70
DeckTape 2.x is now responsible for the PDF creation so that should be a lot easier to implement.

[2017-08-29 13:58] obilodeau opened #103 "Error: Failed to launch chrome! No usable sandbox"
While trying to confirm fix for #78, I had the following issue:

[code]

Found the `chrome_sandbox` binary, tried to alter it's permissions (setuid and world-executable) like [mentioned here](https://chromium.googlesource.com/chromium/src/+/master/docs/linux_suid_sandbox.md) and it still doesn't work.

* Arch Linux
* Decktape 2.0.2
* kernel v4.12.8

Edit: I meant #78 not #68.

[2017-08-29 14:30] astefanutti commented on #103
More information can be found in GoogleChrome/puppeteer#290. As a workaround, you can use the `--no-sandbox`, e.g.:

    $ decktape <url> <path> --no-sandbox

[2017-08-29 15:56] obilodeau commented on #103
I confirm that it works with `--no-sandbox`!

[2017-08-29 19:22] astefanutti commented on #103
Glad it works. Let me close this as there is not much that can be done on DeckTape side.

[2017-08-29 19:22] #103 closed

[2017-08-31 08:39] trezona-lecomte opened #104 "SyntaxError: Unexpected token ("
Hi there,

I installed decktape with `npm install -g decktape`, but attempting to run it produces a SyntaxError:
[code]
Looks like I've installed decktape 2.0.3:
[code]
Thanks for your time, let me know if you need any more info.

[2017-08-31 09:20] astefanutti commented on #104
Ah it's likely you use Node 6.x. I've used async / await which requires Node 7.6+. I should probably mention that is the requirements.

[2017-08-31 09:30] trezona-lecomte commented on #104
Yup, upgrading `node` has fixed this issue, thanks a lot for the quick reply!

[2017-08-31 09:30] #104 closed

[2017-09-02 12:59] deki opened #105 ""Page crashed!" error for presentations with large data-background-image"
I'm unable to run decktape successful for a presentation. I narrowed it down to a slide which has data-background-image set to the image from https://static.pexels.com/photos/398532/pexels-photo-398532.jpeg.

Decktape stops with the following error message:
[code]

Other background images are working properly. What could be the reason?

[2017-09-02 14:56] johanngb opened #106 "docker container crashes"
I run

docker run astefanutti/decktape http://lab.hakim.se/reveal-js slides.pdf

and get

(node:1) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Unable to create PDF file, make sure that output file target is available
(node:1) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not hand

[2017-09-02 15:25] deki commented on #106
Take a look at the README, you need to specify where to save the result:
`$ docker run --rm -v `pwd`:/slides astefanutti/decktape http://lab.hakim.se/reveal-js slides.pdf`

[2017-09-02 15:33] johanngb commented on #106
Thanks for the quick reply!  I tried that first actually, and got the same error message.  I thought maybe something was going wrong with accessing the host file system, so that's why I tried the "simpler" version (Bottom of readme, under "Alternatively, you can use the docker cp command.").

Is there any other variant that might make sense to try?

[2017-09-02 15:39] deki commented on #106
Ok I see. For me that's working fine.

[2017-09-02 15:44] johanngb commented on #106
Interesting.  I have a windows machine.  I will install docker on there and try that out too, and let you know what happens.

[2017-09-02 16:01] pjvilloud opened #107 "PDF different from screenshots"
Hello all and thanks for this program !
I'm having an issue trying to export my ImpressJS presentation to PDF.
I'm using this command : `decktape file:///path/index.html test.pdf -s 1920x1080 --screenshots --screenshots-size 1920x1080` and screenshots are perfect but the generated PDF is different : the zoom level appears to be wrong, the size of the font too... Any idea why the PDF is different ?

[2017-09-02 16:47] johanngb commented on #106
I got the same error when I tried it on windows.  (Windows 10, fresh docker install).  Are you using the most recent docker image?  Thanks!

[2017-09-03 09:29] deki commented on #106
I'm also using Ubuntu 17.04 and it's working fine. You can also try earlier versions, e.g. 1.0.0 also works for me.

[2017-09-04 08:38] astefanutti commented on #107
Ah I've noticed that issue with ImpressJS presentations. I've tried tuning the `scale` parameter of the `Page.pdf` API but that gives satisfactory results for some presentations only.

I think that's an issue at the level of Chrome PDF renderer. I was waiting for isolating the issue with a minimal use case by removing DeckTape out of the equation before reporting it.

[2017-09-04 09:20] astefanutti commented on #105
I suspect this comes from the size of the image. There have been some issues reported to Puppeteer around large images rendering. Is the page loading (you should have `Loading page finished with status: 200` printed in the console)? Could you try with a downscaled version of the image?

I've been able to export a test RevealJS presentation with that image as slide background but it seems the proce

[2017-09-04 09:58] deki commented on #105
A downscaled version is working.

Where can I find the console messages when running the decktape docker container?

[2017-09-04 10:20] astefanutti commented on #105
You should have it already printed, e.g.:

[code]

[2017-09-04 10:22] astefanutti commented on #106
I've just fixed a permissioning issue with the `/slides` directory.

@johanngb could you please retry with the latest `astefanutti/decktape` image?

[2017-09-04 10:31] deki commented on #105
Here is my output:

[code]

[2017-09-04 13:04] astefanutti commented on #105
The error is emitted at the following location:
https://github.com/GoogleChrome/puppeteer/blob/64124df62f4e81999fe1a0ab45c6fb9718a0e413/lib/Page.js#L88-L93

So it seems the remote Chrome instance devtool protocol has crashed.

I would suggest to try to isolate the issue without DeckTape nor RevealJS into the picture and report an issue to Puppeteer unless it turns out to be a resource issue on you

[2017-09-04 13:05] sinedied opened #108 "Default presentation scheme to 'file://'"
With the old `1.0.0` version I was able to convert local file files (ie from the filesystem).

I tested the new v2 version, and I have have issue while trying to do the same thing:
[code]
As a workaround, I added `file://` + the absolute path to make it work.
It would be nice if local file path are automatically detected to restore the 1.0.0 behavior.

[2017-09-04 13:23] astefanutti commented on #108
Ah indeed. It looks like Puppeteer requires the scheme to be specified: https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options.

It'd be possible to default to the `file` scheme at the level of DeckTape. At first though that sounds like a sensible idea.

[2017-09-04 15:00] johanngb commented on #106
Yes, it works now.  Thank you so much!

[2017-09-04 16:43] astefanutti commented on #106
Thanks for the feedback. Let me close this then.

[2017-09-04 16:43] #106 closed

[2017-09-06 07:27] sinedied opened #109 "Backslide / Remark.js PDF rendering issue"
I'm trying to export this example Remark.js slideshow: https://sinedied.github.io/backslide/

While everything was working as expected with `1.0.0` version of Decktape, the new version has a strange behavior with this slideshow:

- when exporting screenshots, it works properly:
![index_1_1280x720](https://user-images.githubusercontent.com/593151/30099228-68677d10-92e5-11e7-8255-6309a8a9ed73.png)

[2017-09-06 13:04] astefanutti commented on #109
I suspect an issue with the Chrome screen media emulation that seems to only affect RemarkJS based presentations. I managed to work-around it with:
https://github.com/astefanutti/decktape/blob/656704c9c6cd992231f0cfc2217e321e3e99f618/plugins/remark.js#L19-L32
But that doesn't seem to be working for Backslide. Would there be any particular CSS rules defined by Backslide?

[2017-09-06 13:06] astefanutti commented on #105
I'm inclined to close this as I don't see what could possibly done at DeckTape level and given that we have found a workaround.

[2017-09-06 13:06] #105 closed

[2017-09-06 13:12] sinedied commented on #109
Those the only print-specific additional rules:
[code]

[2017-09-06 13:30] astefanutti commented on #109
Ah interesting... Removing programmatically the `@page` rule produces the expected output. I would have expected the screen media emulation to disable the rule.

[2017-09-06 13:34] sinedied commented on #109
To enable screen emulation, don't you need to specify it?
[code]
instead of
[code]
?

From puppeteer docs:

Maybe that's why `@page` is interpreted?

[2017-09-06 15:05] astefanutti commented on #109
So it seems `@page` does impact the PDF rendering even with the `screen` media emulation.

Removing the `@page` CSS rule does produce better results, but only for resolutions larger than the original `@page` size!

Can I ask why you set the size to `1210px 681px;` for Backslide? Is that just the ratio or is there another constraint? There may be something else that interfere with the PDF rendering

[2017-09-06 16:56] sinedied commented on #109
The size is set to `1210px 681px` because it is the internal rendering size use by the Remark JS when 16/9 mode is used, ironically it allows printing to PDF with Chrome properly (see https://github.com/gnab/remark/issues/50#issuecomment-223887379)

[2017-09-06 21:06] gtolomei opened #110 "Error: Unable to activate the RISE DeckTape plugin"
Hi,

I'm having some issues in getting `decktape` generate a pdf version of the RISE slides corresponding to one of my Jupyter notebook.
I've successfully installed decktape via `npm` as per the instructions provided.
Then, I've tried several different commands but sadly none of them work. Among those are the following:
`decktape rise http://localhost:8888/notebooks/{NOTEBOOK_NAME}.ipynb slides.pd

[2017-09-07 08:38] astefanutti commented on #110
I've just tried on a locally installed Jupyter / RISE and it works OK:

[code]

Could you check that the RISE extension is loaded / active? From the Web client, there should be the _Enter/Exit Live Reveal Slideshow_ button:

<img width="803" alt="screen shot 2017-09-07 at 10 37 02" src="https://user-images.githubusercontent.com/366207/30153932-8f5d8a58-93b8-11e7-94be-5b23db2be3e9.png">

[2017-09-07 08:44] astefanutti commented on #109
I've managed to make it works by manually changing the hard-coded values from remark scaler:
https://github.com/gnab/remark/blob/868781c84457bd1f0e0c1ee657423136fdbe3c75/src/remark/scaler.js#L1-L2

One alternative is to just use the Remark computed size (reflected in the `@page` CSS rule), irrespective of the `size` option passed as argument. I'm inclined to do that if I'm unable to find a way to

[2017-09-07 09:06] gtolomei commented on #110
Hi,

Thanks for the quick reply.
I may miss something here but these are the steps that I took in order to install DeckTape on my laptop and use it to generate pdf from RISE slides:

1) Install DeckTape globally:
`> npm install -g decktape`

2) Launch my Jupyter notebook:
`> jupyter notebook {MY_NOTEBOOK_NAME}.ipynb`

3) Click on the _Enter/Exit Live Reveal Slideshow_ button once the notebook is s

[2017-09-07 09:10] astefanutti commented on #110
You should not be activating the RISE plugin manually. The DeckTape RISE plugin does it for you so that's likely the reason of the error. Could you tried without step 3 and let me know?

[2017-09-07 09:14] gtolomei commented on #110
Unfortunately, I'm still getting the same error :(
Is there any way to double-check if the RISE plugin gets correctly activated?
BTW, here is the full error stack:

Loading page http://localhost:8888/notebooks/Lecture_01.ipynb ...
Loading page finished with status: 200
Error: Unable to activate the RISE DeckTape plugin for the address: http://localhost:8888/notebooks/Lecture_01.ipynb
    at create

[2017-09-07 09:23] astefanutti commented on #110
It seems the button cannot be found:
https://github.com/astefanutti/decktape/blob/656704c9c6cd992231f0cfc2217e321e3e99f618/plugins/rise.js#L15-L18

Could you check that the button id is `start_livereveal`?

If that's the case, then could you try adding a delay, e.g:

    decktape rise http://localhost:8888/notebooks/Lecture_01.ipynb test.pdf --load-pause 30000

Just to make sure the it has loaded

[2017-09-07 09:29] gtolomei commented on #110
Ok, it seems we have made a progress although we're not quite there yet!
First of all, I can confirm the button id is `start_livereveal`.
After issuing the command as you suggest (i.e., with extended delay), I got the following:

Loading page http://localhost:8888/notebooks/Lecture_01.ipynb ...
Loading page finished with status: 200
RISE DeckTape plugin activated
Error: Evaluation failed: Referenc

[2017-09-07 09:34] astefanutti commented on #110
No worries.

With the local clone that you have, could you manually increase the delay here:

https://github.com/astefanutti/decktape/blob/656704c9c6cd992231f0cfc2217e321e3e99f618/plugins/rise.js#L31

And give it a try. I still wonder why it requires larger delays on your machine. Anyway, that'd be a additional reason to bring deterministic timing / callback to RISE...

[2017-09-07 09:59] gtolomei commented on #110
Once I've made the change to the above delay, I'm assuming this means I need to execute the following command (from within the directory where I've cloned decktape):
`> node decktape.js rise http://localhost:8888/notebooks/Lecture_01.ipynb ~/Desktop/test.pdf`
Problem is that with this approach I'm getting this:
module.js:491
    throw err;
    ^

Error: Cannot find module '/Users/gtolomei/Projects

[2017-09-07 10:01] gtolomei commented on #110
Sorry, I've accidentally pressed "Return"...
I was saying that even if I increase the delay from rise.js I'm still getting the same error:

Loading page http://localhost:8888/notebooks/Lecture_01.ipynb ...
Loading page finished with status: 200
RISE DeckTape plugin activated
Error: Evaluation failed: ReferenceError: Reveal is not defined
    at _ (<anonymous>:1:14)
    at <anonymous>:7:8
    at Fr

[2017-09-07 10:16] astefanutti commented on #110
There are two delays in the `configure` methods:

https://github.com/astefanutti/decktape/blob/656704c9c6cd992231f0cfc2217e321e3e99f618/plugins/rise.js#L20-L40

Could you double check you've increased the second one?

Aside from that, I'm afraid I run out of ideas without being able to reproduce on my side. It may due to a new Jupyter / RISE versions combination...

[2017-09-07 10:28] gtolomei commented on #110
So, just to be sure I did what you actually suggest:

1) Open `rise.js` under `/usr/local/lib/node_modules/decktape/plugins/`

2) Increase only the second delay (line 31) to 60000 and save the file

3) Run the following:
`> node decktape.js rise http://localhost:8888/notebooks/Lecture_01.ipynb ~/Desktop/test.pdf --load-pause=20000` # I guess `--load-pause` only affects the first delay which waits

[2017-09-07 10:46] astefanutti commented on #110
OK, I've upgraded to RISE 5.x and I'm able to reproduce 👍 Let me see what has changed...

[2017-09-07 10:49] gtolomei commented on #110
Thanks a lot,

That's very kind of you!

[2017-09-07 11:28] astefanutti commented on #110
OK, I've managed to understand what's going on. For some reason token based authentication seems required so you have to pass the token printed when you start the notebook, e.g.:

    decktape rise http://localhost:8888/notebooks/Lecture_01.ipynb?token=<TOKEN> test.pdf

I've hit another issue at the end:

https://github.com/astefanutti/decktape/blob/656704c9c6cd992231f0cfc2217e321e3e99f618/plugins

[2017-09-07 11:57] gtolomei commented on #110
Thanks a lot!

It works like a charm! :)

Gabriele

[2017-09-07 12:08] astefanutti commented on #110
If you feel generous, you can give the project a star 😉

Out of curiosity for further compatibility, did you have to change the following line:

https://github.com/astefanutti/decktape/blob/656704c9c6cd992231f0cfc2217e321e3e99f618/plugins/rise.js#L57

[2017-09-07 12:12] gtolomei commented on #110
Star just given ;)

To be honest, I follow your instruction and change the line without even trying to keep it as it is. I can give it a try if you want...

[2017-09-07 12:19] astefanutti commented on #110
No worries, that was just out of curiosity. The change is to be made anyway...

[2017-09-07 12:28] gtolomei commented on #110
In fact, I've tried using the previous statement and I do get the following error right before the end of pdf transformation:
...
Printing slide #/slide-5-0 (6/7) ...Error: Evaluation failed: TypeError: Cannot read property 'nodeName' of null
    at _ (<anonymous>:2:61)
    at <anonymous>:2:89
    at Frame._rawEvaluate (/usr/local/lib/node_modules/decktape/node_modules/puppeteer/lib/FrameManager.j

[2017-09-07 12:30] astefanutti commented on #110
Ok, thanks a lot for the feedback. That confirms my tests. I'll work on improving the RISE plugin based on your feedback.

[2017-09-07 12:44] gtolomei commented on #110
No worries! Thank you, indeed!
Yours is really a great tool for generating nice-looking PDFs from notebook slides, which can therefore be easily printed out ;)

[2017-09-07 18:22] astefanutti commented on #109
I've implemented the Remark plugin to properly compute the default PDF size in aa431111fb647542f4a82554f016da5f664b1621.

I've been able to successfully export Remark and Backslide demo presentations.

Could you give Decktape `2.1.0` version a try?

[2017-09-11 08:54] sinedied commented on #109
Thanks, the new version works fine though there are still issues:
- The pdf export is successful the `decktape` command still output a non-zero error code:
[code]
- The exported pdf is 1Mb, while using chrome PDF export directly creates a 240kb PDF

[2017-09-11 12:54] astefanutti commented on #109
Thanks for the feedback.

I've just fixed the return code issue in version `2.2.1`.

For the PDF size, the Backslide presentation background image that's repeated in two slides gets duplicated twice. For the time being, graphics are not factorize as reusable assets in the exported PDF. I plan to support that as well. There is already #87 open on that so I suggest we follow-up there.

[2017-09-11 18:37] sinedied commented on #109
Thanks for the reactivity!

Since the PDF size is another matter, I'll close this issue.

Just to let you know, for Backslide PDF I experimented 3 solutions the last days:

- Direct PDF printing with Puppeteer, as Remark.js supports this, but I've run into rendering issue due to the fixed version of Chromium used and because there is a bug with the `printToPDF()` function and `@page` css support (

[2017-09-11 18:37] #109 closed

[2017-09-11 19:02] astefanutti commented on #109
You're welcome. Thanks for the great feedback.

As for option 1, I'm still considering integrating it for DeckTape but I'm still thinking it's better sticking to the current philosophy of iterating through the pages. I may reconsider in case I'm unable to resolve the output PDF size issue.

[2017-09-11 19:20] patrickdepinguin commented on #108
Bumped into the same problem today.
At a minimum, the example in the README could be updated if the actual suggestion takes more work.

[2017-09-11 19:51] astefanutti commented on #108
@patrickdepinguin thanks for the feedback. I'm planning on implementing that default ASAP.

[2017-09-13 09:07] astefanutti commented on #91
Should be fixed with DeckTape 2.x.

Here is the Reveal math example exported using 2.2.2: [test.pdf](https://github.com/astefanutti/decktape/files/1298839/test.pdf).

[2017-09-13 09:07] #91 closed

[2017-09-13 13:51] gtolomei commented on #49
Hello,

Sorry for jumping onboard this discussion, which apparently seems already closed.
Thanks to the strong support of @astefanutti  I finally managed to generate good-looking pdf from RISE slideshow in Jupyter Notebook.
Here's the command I'm using at the moment to achieve that task:
`> decktape rise http://localhost:8888/notebooks/{NOTEBOOK_NAME}.ipynb?token={TOKEN} --load-pause 5000 -s 1920x

[2017-09-13 13:54] astefanutti commented on #49
@gtolomei I've added support for hyperlinks in version `2.2.0`. Maybe you'll need to upgrade. This works for hyperlinks but not _internal_ links.

[2017-09-13 14:05] gtolomei commented on #49
Thanks a lot @astefanutti for your quick reply!
I've just updated `decktape` to the latest version (2.2.2) and (external) hyperlinks work like a charm!

P.S.: In my RISE slideshow I have some Markdown cells which are left "unrun" on purpose (i.e., suppose you want to show the actual content of a Markdown cell on a slide and in the next slide you show how this actually renders); however, it seems d

[2017-09-13 14:23] astefanutti commented on #49
The RISE plugin just iterate over the produced presentation by RISE. Are those _unrun_ cells supported by RISE?

[2017-09-13 14:40] gtolomei commented on #49
Yes, they are. I mean, when I play my RISE slideshow I'm able to see sildes containing the "unrun" cells.

[2017-09-13 14:42] astefanutti commented on #49
Hum I would have imagine DeckTape just exports them as it then. Isn't that the case?

[2017-09-13 14:42] gtolomei commented on #49
Just to give you an example, below are two adjacent RISE slides:
<img width="1428" alt="screen shot 2017-09-13 at 4 40 55 pm" src="https://user-images.githubusercontent.com/9001735/30383666-7e1ec7ae-98a2-11e7-81ed-e80be3b4f294.png">
<img width="1423" alt="screen shot 2017-09-13 at 4 41 10 pm" src="https://user-images.githubusercontent.com/9001735/30383680-84ccd6e0-98a2-11e7-91b6-c5e0eedb4331.png">

[2017-09-13 14:43] gtolomei commented on #49
Unfortunately, the corresponding PDF created with DeckTape just duplicates the "run" cells (i.e., in the example above, I have two pdf pages containing the second, rendered screenshot).

[2017-09-13 14:44] astefanutti commented on #49
Interesting. Maybe we can move that discussion to a new issue then if you don't mind.

[2017-09-13 14:46] gtolomei commented on #49
Yes, sure! In fact, I'm sorry I've used this thread but I thought it was something quick to fix!

[2017-09-13 15:37] gtolomei commented on #49
Do you want me to fork this thread or have you already moved this to a different, new issue?
G.

[2017-09-13 17:05] astefanutti commented on #49
Feel free to create a new issue. I'll clean that one then if that works for you.

[2017-09-13 21:12] gtolomei opened #111 ""Un-rendered" Markdown RISE cells"
Hello,

I have a notebook which, among other things, is made of a sequence of pairs of Markdown cells where on each pair the first cell is left "un-run" (i.e., "un-rendered") on purpose, whereas the next cell is an *exact* copy of the previous one, yet properly rendered.
When I display those cells using RISE in slideshow mode, I am able to see them as expected. Just to give you a concrete example,

[2017-09-13 21:13] gtolomei commented on #49
Done! Here's the link to the [new issue](https://github.com/astefanutti/decktape/issues/111).
Thanks,
Gabriele

[2017-09-14 09:33] astefanutti commented on #49
Issue with the RISE plugin followed-up in #111.

[2017-09-14 17:05] zmonoid opened #112 "Error: spawn EACCES"
Error reports below:
[code]

[2017-09-14 20:35] astefanutti commented on #112
Ah it's likely you use Node 6.x. It uses async / await which requires Node 7.6+.

I'll try making it more explicit in the error message and should probably mention that is the requirements.

[2017-09-15 05:30] zmonoid commented on #112
I have updated the newest version, but got new error:

[code]

[2017-09-15 07:12] astefanutti commented on #112
For some reasons, it's a permission issue while starting the Chrome instance. Can you test using DeckTape directly, by running the following command:

    $ decktape file:///home/bzhou/Documents/slides/.tmp/pdf/index.html pdf/index.pdf

As you're using BackSlide, you may want to contact the BackSlide project as well.

[2017-09-15 09:01] astefanutti commented on #87
@szpak I've been working on improving output PDF size in DeckTape 2.x. Could you test with latest `2.3.0` version and check what's the result?

[2017-09-15 09:04] astefanutti commented on #109
@sinedied I've been working on improving the output PDF size in version `2.3.0`. It now factorises duplicated images using PDF XObject references. That improves things a bit as it produces a PDF whose size is 1.2MB for the BackSlide demo presentation. After digging into the output, there are still the font definitions that get duplicated compared to the Chrome output and that probably explain the

[2017-09-15 09:11] zmonoid commented on #112
Hi, it will report the same error:

[code]

[2017-09-15 09:14] astefanutti commented on #112
Could you indicate how you've installed DeckTape?

Could you try:

    $ sudo nom install -g decktape

Can you check the permissions of the `/usr/lib/node_modules/decktape` directory and make sure the user you use to start the command have proper access to it?

[2017-09-15 12:48] zmonoid commented on #112
Yes, I installed it as

``` sudo npm install -g decktape```

The access to the folder is given below:

[code]

[2017-09-15 13:13] astefanutti commented on #112
It seems your `/usr/lib/node_modules/decktape/node_modules` directory can only be accessed by root:

    drwxr-xr-x 52 root  root  4.0K Sep 15 17:09 node_modules

Which explain the error that you face.

You may need to modify your npm config our change the permission of the npm's default directory. See https://docs.npmjs.com/getting-started/fixing-npm-permissions.

[2017-09-15 13:57] zmonoid commented on #112
Yes! It works!

Thank you!

[2017-09-15 13:57] #112 closed

[2017-09-15 14:04] sinedied commented on #109
Thanks for the hard work! 👍

[2017-09-18 10:31] szpak commented on #87
@astefanutti I haven't got a chance to test 2.x, but I will try to give it a shot shortly.

[2017-09-18 12:14] szpak commented on #87
I checked the latest docker image (image was updated 3 days ago, so it could be 2.3.0, however, maybe Decktape in a Docker could display its version?). My other 160 slides with 1.x had 4,7MB as PDF. In 2.3.0 it's slightly better - 4,5MB. I tried to remove repeatable logo (completely), but it only reduced the size to 4,4MB. Source code is properly rendered as text.

Next time working on slides I wi

[2017-09-18 12:23] astefanutti commented on #87
@szpak thanks a lot for the feedback. You can run `decktape version` to get the current version. I plan to work on font definitions consolidation ASAP which I think should possibly reduce the output size. Let me know your results on your side.

[2017-09-20 11:02] gtolomei commented on #111
Hello,
Any updates on this issue?

Cheers,
G.

[2017-09-20 11:50] astefanutti commented on #111
@gtolomei I haven't look at this issue yet. I'm still working on the main engine. I'll keep you updated as soon I progress on this one.

[2017-09-20 12:55] gtolomei commented on #111
@astefanutti Thanks for your reply and no worries at all!
Cheers,
G.

[2017-09-23 20:07] harmishhk commented on #112
I have the same issue while using decktape from astefanutti/decktape docker image.

[2017-09-24 20:09] astefanutti commented on #109
@sinedied, I've just implemented fonts consolidation in version `2.4.0` and I get the size of the Backslide demo presentation down to 639KB: [test.pdf](https://github.com/astefanutti/decktape/files/1327695/test.pdf).

[2017-09-24 20:11] astefanutti commented on #87
I've just implemented fonts consolidation in version `2.4.0`. This and duplicate images consolidation is pretty much what I can think of to improve output PDF size. I'll close this one but feel free to open a new issue with specific contributors to file size so that I can try addressing them.

[2017-09-24 20:11] #87 closed

[2017-09-25 07:37] sinedied commented on #109
@astefanutti You're on fire! 🔥
Now that's even less than standard Chrome PDF export (717KB), well done! 👍

[2017-09-25 07:44] astefanutti commented on #109
@sinedied thx. It turns out Chrome PDF export isn't optimal after all. There are still some rooms for optimisation on fonts consolidation but I think I'll rest a little 😉.

[2017-09-25 09:07] astefanutti commented on #107
The same issue seems to affect the Flowtime plugin.

[2017-09-25 14:24] Blackbms opened #113 "Trying to build custom Docker Container Failure"
Due to network issues I need to build my own custom docker image so that I can set my proxy servers.  When I attempt to build the image I fail wen running
```> puppeteer@0.10.2 install /decktape/node_modules/puppeteer```
with the following message:
[code]

Any assistance would be most helpful

[2017-09-25 14:56] astefanutti commented on #113
Ah that's Puppeteer trying to download Chrome at install. You can set some environment variables as documented in  https://github.com/GoogleChrome/puppeteer/blob/45f264024b16ee0a23e8d5d9a974720108180997/docs/api.md#environment-variables.

Let me know if that works for you.

[2017-09-25 15:24] Blackbms commented on #113
I have already set those in the Dockerfile and the rest of the install works just fine.
I have even set `npm config set proxy <proxy server>`

Here is the rest of the error message:
[code]

[2017-09-25 15:30] astefanutti commented on #113
I think that comes from https://github.com/GoogleChrome/puppeteer/commit/b8bb80a0892a9a940e699d44b4269417ace50da9 which is included in Puppeteer `0.11.0`. Could you try upgrading Puppeteer (maybe via DeckTape)?

[2017-09-25 16:06] Blackbms commented on #113
Ok, I have checkout DeckTape 2.4.0 out and still have the same problem.
It appears that we are trying to use puppeteer version 0.11.0 which is the latest released a few days ago.
Based on the pull request in Github and description of that issue I would have thought this might have fixed it.

[2017-09-25 16:48] astefanutti commented on #113
Hum, that should definitely works :( Maybe that something to do with Docker.

Either do:

     ENV http_proxy <proxy_url>
     ENV https_proxy <proxy_url>

Or try:

    $ docker run --env http_proxy=<proxy_url> ...

Could you share your Dockerfile?

[2017-09-25 17:28] Blackbms commented on #113
[code]

[2017-09-25 17:45] Blackbms commented on #113
Your idea of putting the -env on the command line worked.  Thanks.  :+1:

[2017-09-25 19:50] Blackbms commented on #113
I'm going to close this as you were able to answer my questions.  Thanks again.

[2017-09-25 19:50] #113 closed

[2017-09-27 05:25] christopherbrewster opened #114 "Installation problems (Failed at the hummus@1.0.82 install script.)"
I just reinstalled Nodejs and npm, and then followed your installation instructions but got lots of errors. The errors ended in the following:

[code]

How do I resolve this? Or should I try only to use your Docker version?

[2017-09-27 07:33] astefanutti commented on #114
Could you provide the full installation log to troubleshoot why the `node-pre-gyp install --fallback-to-build` command fails?

Using the Docker version would alleviate you from installing DeckTape but install via NPM should definitely work.

[2017-09-27 08:14] christopherbrewster commented on #114
Please find enclosed the full log:
----------
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install',
1 verbose cli   '-g',
1 verbose cli   'decktape' ]
2 info using npm@5.3.0
3 info using node@v8.6.0
4 verbose npm-session e6bad465c351bf56
5 silly install l

[2017-09-27 08:22] astefanutti commented on #114
So:

[code]

seems related to https://github.com/npm/npm/issues/17747.

Maybe you could try running the command as administrator or running `npm cache clean` and retry the install.

[2017-09-28 15:27] jonathanlilly commented on #114
Maybe this will help.

This worked for me:

sudo npm install -g --unsafe-perm hummus
sudo npm install -g --unsafe-perm decktape

But I had to install hummus *before* decktape, otherwise I got errors.

[2017-09-28 15:30] jonathanlilly opened #115 "decktape hangs at audio tag"
Hi,

Using decktape with remark:

    $ decktape remark http://www.jmlilly.net/talks/oslo/v2/lookatthedata.html lookatthedata.pdf

I got errors like this:

    Unable to load resource from URL: http://www.jmlilly.net/talks/videos/weddellseal.wav

After which, decktape would hang and then timeout.  I tracked this down to audio tags like this:

[code]

Commenting out the audio tags solved the proble

[2017-09-29 14:03] astefanutti commented on #115
Thanks for the report. It turns out the presentation contains some large audio files that Chrome responds with 206 Partial content, and the `load` event is never dispatched.

I've improved the wait condition in a9ef2120ef66c5d5c267090ee9003559b5c38341 that solves the issue so you can give it a try. Feel free to reopen if you face any other issue.

[2017-09-29 14:03] #115 closed

[2017-09-29 14:31] jonathanlilly commented on #115
Thanks so much, Antonin! It works fine now.
I also have a nomination for you for your example gallery. I have a set of very detailed online course notes for time series analysis that is generated using remark.js. All the pdfs for the chapters are made with decktape, probably a few hundred pages altogether.
If this is of interest the best link is probably to the table of contents, from which all th

[2017-09-29 14:58] astefanutti commented on #115
Great! If you feel generous you can give the project a star, it's always appreciated 😉.

If this is of interest the best link is probably to the table of contents, from which all the pdfs can be accessed. You could just call it “Time Series Analysis Course Notes” or something like that.
[http://jmlilly.net/talks/oslo/v2/index.html#2](http://jmlilly.net/talks/oslo/v2/index.html#2)

It's looks gorge

[2017-10-02 15:34] christopherbrewster commented on #114
The suggestion to install hummus first worked. However, printing to pdf still does not work. I get the folloiwng errors:
----
MacBookPro:talks kiffer$ decktape remark blockchains_in_agrifood.html blockchains_in_agrifood
module.js:529
    throw err;
    ^

Error: Cannot find module '/usr/local/lib/node_modules/decktape/node_modules/hummus/binding/hummus.node'
    at Function.Module._resolveFilename

[2017-10-02 15:42] astefanutti commented on #114
The path seems correct. There must be another error with the Hummus dependency install.

[2017-10-02 15:45] christopherbrewster commented on #114
Are there any other sensible ways to output to pdf?

[2017-10-02 15:48] astefanutti commented on #114
You can use the Docker image so that it would alleviate from installing locally.

For the install issue, it looks like your errors contain different paths:

    C:\\Users\\brewstercaw\\AppData\\Roaming\\npm\\node_modules\\decktape\\node_modules'

and:

    /usr/local/lib/node_modules/decktape/node_modules/hummus/binding/hummus.node

Which is a bit surprising. What's your environment (OS, Node, ...

[2017-10-02 15:50] christopherbrewster commented on #114
I have both an old Mac and a work Windows 10, and I have tried with both. Last attempt today was on my Mac. i will try on the Windows 10 and check if I have simialr probelms.
Thank you for reminding me of the docker image.

[2017-10-03 09:22] rmannibucau opened #116 "Bespoke plugin doesn't run"
in bespoke.js, `const builds = 0;` must become `let builds = 0;` since the variable is incremented.

[2017-10-03 10:07] astefanutti commented on #116
Thanks for the report. It should be fixed in version `2.4.2`.

[2017-10-03 10:07] #116 closed

[2017-10-11 22:06] pat-s commented on #108
This should be fixed or populated in the README - took me two hours to figure out whats going on :/

[2017-10-12 08:33] astefanutti commented on #108
@pat-s sorry to hear that. I plan to fix it ASAP.

[2017-10-12 14:55] pgrantmartello opened #117 "Error: Kill ESRCH on Windows 10"
I got this error:

[code]

I don't know enough about Linux/CLI to be able to debug this myself. Any thoughts on what's happening?

[2017-10-12 18:57] pgrantmartello commented on #117
This was on Windows 10 bash, btw.

[2017-10-13 08:32] astefanutti commented on #117
I suspect this happens when Puppeteer tries to kill the Chrome instance.

It seems there is another error that's hidden by the error you've reported:
https://github.com/GoogleChrome/puppeteer/blob/433b17b5d28569a30b47ce894a3305cb192935ce/lib/Launcher.js#L108

Could you provide the exact command you use and the full log. I don't have a Windows 10 box so I won't be able to reproduce on my side unfor

[2017-10-13 13:32] pgrantmartello commented on #117
Okay, so here's what I found. I did not install globally, so my command was

[code]
That's how I got the error. I'm not sure if this is the correct log, but it's the most recent I have:

[2017-10-13T13_18_59_742Z-debug.log](https://github.com/astefanutti/decktape/files/1382722/2017-10-13T13_18_59_742Z-debug.log)

I tried globally installing decktape to see if it would fix the issue for me, but the

[2017-10-13 13:36] astefanutti commented on #117
Thanks for the details. It's surprising it tries to download the Linux binary while you're on Windows (maybe you use a subsystem...).

You can download Chrome separately and instruct Puppeteer to use it by passing the `--executablePath` option. DeckTape is actually forwarding that option so you can use it readily with DeckTape as well.

[2017-10-13 13:41] pgrantmartello commented on #117
Yeah, it's bash on Windows which is actually a Linux subsystem. So once I have Chrome installed, I'm just doing
[code]
Is that right?

[2017-10-13 13:42] astefanutti commented on #117
Yes. Mind that Puppeteer needs a compatible version of Chrome.

[2017-10-13 13:51] pgrantmartello commented on #117
So you're right. I tried to run it with my local instance of Chrome and it came back and said "The only Chrome revision guaranteed to work is r499413", so I got that and moved the files to my local system. I tried two commands, both of which failed:

[code]

[2017-10-13 13:55] astefanutti commented on #117
Could you just try starting that Chrome install directly from your Linux subsystem. I suspect it's not starting correctly in that context. Maybe an alternative for you would be to use the default Windows prompt.

[2017-10-13 17:48] pgrantmartello commented on #117
No luck. I don't want to take any more of your time. I think I've given up :)

[2017-10-13 17:48] #117 closed

[2017-10-13 17:59] astefanutti commented on #117
Thanks for the feedback. Maybe this is something you can report to the Puppeteer team so that they work on it.

[2017-10-18 12:49] oupala opened #118 "usage with GitLab CI"
How would you use decktape with GitLab CI?

I tried many configuration, but it always fails with the following error message:

I use the following `.gitlab-ci.yml` configuration file:

[code]

[2017-10-18 16:52] astefanutti commented on #118
I don't know GitLab CI, though it seems like the command isn't right. It should execute something like:

     $ decktape [options] [command] <url> <filename>

Here it seems the filename is missing for some reasons. You may have to change the `script` attribute or declare a service. You can find some documentation here: https://docs.gitlab.com/ce/ci/docker/using_docker_images.html.

I'm closing thi

[2017-10-18 16:52] #118 closed

[2017-10-18 20:24] oupala commented on #118
The problem is that your example give some advice on how to launch a container using decktape image and some parameters.

With GitLab CI, the *script* is launched from the inside of the container. I mean, we are already inside a container. So I think I am missing something in GitLab CI or in decktape logic.

I'll continue to search and I'll come back here if I find something interesting.

But if s

[2017-10-19 19:01] jkohlin opened #119 "I get an error when trying to run deck tape the first time"
I installed it at the Downloads folder and then ran it locally:
`$ npm install decktape
$ ´npm bin´/decktape`
But I get this:
`node_modules/decktape/decktape.js:162
(async () => {
       ^
SyntaxError: Unexpected token (`

I also tried to install it globally, but instead got an error while installing
`npm ERR! Error: EACCES: permission denied, symlink '../lib/node_modules/decktape/decktape.js' ->

[2017-10-20 08:06] astefanutti commented on #119
For the first error, DeckTape requires Node version 7.10.0+ as it uses async / await.

For the second error, it looks like a permission issue. You may try `sudo npm i -g decktape`.

Make sure your NPM version is recent as well.

[2017-10-21 18:07] jkohlin commented on #119
Strange, I have Node 7.4:
![Terminal screenshot](https://kohlin.net/images/decktape-error.png)

[2017-10-23 07:45] astefanutti commented on #119
Given that DeckTape requires Node version v7.10.0+ and that you have v7.4.0 which is older, it sounds logical. You should be able to fix the error by upgrading Node to a version greater than 7.10.0.

[2017-10-28 13:13] LaetitiaLoxo opened #120 "Decktape throws "Error: spawn EACCES""
Hi,

I used decktape once to send my slides in pdf mode and it was just perfect. Worked at once and result just as desired.

Then, a few month later, I tried it on another presentation and it won't work. So I tried on the very same presentation and it wouldn't work either...
I suspect it has something to do with a module I installed since which is named "external" (https://github.com/calevans/exte

[2017-10-29 18:10] LaetitiaLoxo commented on #120
Hey,

My mistake, I had completely forgotten I had resintalled it since last time.
After looking more closely, I found that permissions on some files where wrong.

Problem solved!

Have a nice day (ugt)!

Lætitia

[2017-10-30 08:20] astefanutti commented on #120
I'm glad you find your way! Let me close this then 😉.

[2017-10-30 08:20] #120 closed

[2017-11-06 11:33] Nicolabo opened #121 "I get an error: Can't find variable: __dirname"
Hi I try to build pdf slides from remark presentation. I installed phantomjs (2.1.1 version). I got several error:
1. At first I get error:

[code]

So I `npm install nomnom` and execute `phantomjs decktape.js ...` once again. I get another error:

[code]

So I `npm install printer` and execute `phantomjs decktape.js ...` once again. I get another error:

[code]

Don't know what do to next. Any id

[2017-11-06 12:51] astefanutti commented on #121
DeckTape has moved to Node / Puppeteer so you should not use PhantomJS anymore. You can find the installation instructions here: https://github.com/astefanutti/decktape#install.

[2017-11-06 15:42] Nicolabo commented on #121
Thanks,

[2017-11-06 16:05] Nicolabo opened #122 "White border in remark.js slides"
Hi
I converted my remark html slides into pdf. It works fine although I observed, that when I use ratio: 16:9 it's included a white border for each slide (look at dark-colored slide).

[code]

I write

[code]

Does anybody know whether this is decktape issue or remark.js issue?

Thanks,

[2017-11-06 17:44] astefanutti commented on #121
Closing as this seems to work for you now.

[2017-11-06 17:44] #121 closed

[2017-11-06 17:47] astefanutti commented on #122
Remark sizing is a bit tricky so it's better not specifying the `size` option (nor the `screenshots-size`option) and the DeckTape plugin automatically figures the size out of the presentation ratio. Without them, you won't get the white border.

[2017-11-06 17:48] astefanutti commented on #119
Let me close this. Feel free to re-open if upgrading Node is not the solution.

[2017-11-06 17:48] #119 closed

[2017-11-07 10:58] astefanutti commented on #122
It's used by Backslide (https://github.com/sinedied/backslide/) that's Remark based and which defaults to 16:9 and here is the result: [test.pdf](https://github.com/astefanutti/decktape/files/1449659/test.pdf).

Do use you DeckTape latest version and what's the exact command you use?

[2017-11-07 12:01] Nicolabo commented on #122
I use 2.0.0 version.

I downloaded your test.pdf file and when I turn on the full screen I still see white border at the bottom and on the right.

When it comes to exact command I installed dectape locally so then

[code]

[2017-11-07 13:47] astefanutti commented on #122
OK, if that's the thin white border we're talking about, I've had to add some extra margins otherwise Chrome PDF export via Puppeteer messes up the layout for some reasons:
https://github.com/astefanutti/decktape/blob/65f29cd11b255e2cfb84447fc9ec11ca0e29ea04/plugins/remark.js#L37-L38
I may find a way to adjust the PDF size as a post-processing step.

[2017-11-07 15:26] Nicolabo commented on #122
Could be great!

[2017-11-08 10:40] astefanutti commented on #114
Let me close this. Feel free to re-open if none of the work-arounds work.

[2017-11-08 10:40] #114 closed

[2017-11-12 14:16] astefanutti commented on #108
Fixed in version `2.5.0`.

[2017-11-12 14:16] #108 closed

[2017-11-12 20:37] DanielRuf opened #123 "strong tag produces glitch on Windows 10"
When using reveal.js and there is a strong tag in a text the rendering is weird (first letter looks a bit bold, rest doesn't

How it should look like
![bold](https://user-images.githubusercontent.com/827205/32703090-44636460-c7f1-11e7-95eb-67655ff82a4a.png)

How it actually looks like in the PDF
![image](https://user-images.githubusercontent.com/827205/32703109-690415d0-c7f1-11e7-914c-d406fe12f05b

[2017-11-13 12:07] pat-s commented on #108
Thanks, works :+1:

[2017-11-15 09:16] m1guelpf commented on #54
Is there anyone still working on this?

[2017-11-15 09:17] m1guelpf commented on #96
@astefanutti It seems like the code has been removed... could you provide the code of the original decktapify repo?

[2017-11-15 09:20] astefanutti commented on #96
@m1guelpf https://github.com/devternity/decktapify seems accessible.

[2017-11-15 09:21] m1guelpf commented on #96
@astefanutti Redirects to sponsorify, that seems to be another thing.

[2017-11-15 09:21] astefanutti commented on #54
@m1guelpf I'll plan working on this. It may take a different shape though.

[2017-11-16 10:55] eduardsi commented on #96
Yes, the project has been morphed into something different and is not relevant for general audience anymore

[2017-11-16 11:14] m1guelpf commented on #96
@eduardsi Do you have the original project's source somewhere?

[2017-11-16 11:21] eduardsi commented on #96
The whole idea that Decktape was running as a free web service (lambda). There is not that much code apart from simple plumbing. Unfortunately, the original project was replaced with the code specific to [DevTernity](https://devternity.com) conference docs.

[2017-11-16 16:58] astefanutti commented on #96
Given these new highlights, plus that is it not based on DeckTape 2.x, I'm inclined to close this. I'm planning to work DeckTape online ASAP.

[2017-11-16 16:58] #96 closed

[2017-11-16 18:15] astefanutti commented on #123
I haven't been able to reproduce. Would you be able to share a minimal use case? It may be specific to the font you use.

[2017-11-16 19:15] DanielRuf commented on #123
Take a look at https://github.com/danielruf/slides

Basically I created a slide with reveal.js and used the strong tag in an unorderef list element.

[2017-11-16 19:16] DanielRuf commented on #123
The font is the one loaded by the light reveal.js theme.

[2017-11-16 21:09] astefanutti commented on #123
Still could not reproduce. Here is the result PDF: [test.pdf](https://github.com/astefanutti/decktape/files/1480248/test.pdf).

Could you indicate what DeckTape version you use, as well as your OS, the PDF viewer. If you could upload an example PDF that may help as well.

[2017-11-16 21:51] DanielRuf commented on #123
I've used Windows 10. The lockfile is committed. `npm start` will generate the pdf. I've already shutdown my pc. I can also test on my MacBook at work tomorrow. The pdf was viewed in Adobe Acrobat Reader.

[2017-11-16 22:01] DanielRuf commented on #123
[slides.pdf](https://github.com/astefanutti/decktape/files/1480395/slides.pdf)

[2017-11-16 22:19] astefanutti commented on #123
Thanks. That discards the viewer as I can see the issue using Mac OS viewer. It's unlikely to be an old DeckTape version issue as you use version 2.4.3. That would help if you could share the source of that sample so that I try reproducing.

[2017-11-16 22:41] astefanutti commented on #122
At second look, it rather seems a Remark issue, as I can reproduce with the default Chrome PDF export (at least for the thin white border at the bottom of the Backslide PDF export). Would you be able to share your PDF so that I can have more data to qualify the issue?

[2017-11-16 23:38] DanielRuf commented on #123
It's a normal `<section>` with a `<ul>` and a `<li><strong>Encryption</strong><br>...</li>`.

The font files and so on are in my slides repository. The only difference is that I've added an unordered list with a list item which contains a strong.

It's a bit late now but if you need this simple example source I'll provide this as a single html file tomorrow.

Using my repo and adding a section wit

[2017-11-16 23:40] astefanutti commented on #123
Unfortunately that's what I've tried, taking your repository and add the section to produce the sample I've attached.

[2017-11-17 06:58] DanielRuf commented on #123
I can not reproduce it on macOS 10.12. So it seems it is a Windows related issue.

[2017-11-17 11:02] gtolomei commented on #110
Hi again!

I've just moved to a new laptop and I had to reinstall from scratch my old environment: andaconda, RISE plugin (5.1.0) and, of course, decktape (2.5.0).
Installation went ok but when I'm trying to transform Jupyter notebook in pdf slides using decktype with RISE I'm getting the same old error, i.e., Error: Unable to activate the RISE DeckTape plugin for the address: <URL>
My previous wo

[2017-11-17 11:17] gtolomei commented on #110
Never mind!
I was just typing the incorrect URL as input to decktape rise.
So, the fix that I propose (i.e., replacing "start_livereveal" with "RISE" in the rise.js file) actually make decktape 2.5.0 and RISE 5.1.0 work nicely.
Hope this helps!

Thanks,
Gabriele

[2017-11-17 11:17] #110 closed

[2017-11-17 14:14] m1guelpf commented on #54
@astefanutti Do you have a timeline to release? I am building a new project that needs this right now...

[2017-11-17 20:20] astefanutti commented on #54
@m1guelpf I don't have any timeline. I except it to be a substantial piece of work so it'd be better not making any assumption on its availability.

[2017-11-18 13:03] ottlukas opened #124 "After installing decktape I got following error:"
[code]

[2017-11-18 13:12] astefanutti commented on #124
It looks like the installation of the Hummus dependency has not completed successfully. Could you look at the DeckTape installation log and check if there is no error?

[2017-11-18 13:27] ottlukas commented on #124
You are right!
[code]

[2017-11-18 13:29] astefanutti commented on #124
Could you try (re-)installing node-gyp: https://github.com/nodejs/node-gyp#installation

[2017-11-18 13:36] ottlukas commented on #124
Still same error after
`sudo npm install -g node-gyp
/usr/bin/node-gyp -> /usr/lib/node_modules/node-gyp/bin/node-gyp.js
+ node-gyp@3.6.2
updated 1 package in 2.292s
`
[code]

[2017-11-18 13:38] astefanutti commented on #124
Have you checked that you have all the node-gyp requirements (gcc, python 2.7, ...)? Could you provide the full install log?

[2017-11-18 13:40] ottlukas commented on #124
[2017-11-18T13_33_58_078Z-debug.log](https://github.com/astefanutti/decktape/files/1484608/2017-11-18T13_33_58_078Z-debug.log)

[2017-11-18 13:59] astefanutti commented on #123
I've just tried on Windows 7 and still cannot reproduce: [test.pdf](https://github.com/astefanutti/decktape/files/1484626/test.pdf).

So it seems specific to Windows 10. Unfortunately I don't have a Windows 10 image readily available to troubleshoot the issue.

[2017-11-18 18:00] astefanutti commented on #122
Should be fixed in version `2.6.0`. Let me know if that doesn't work for you.

[2017-11-18 18:00] #122 closed

[2017-11-18 18:04] astefanutti commented on #124
Would you be able to run the following command:

    node-pre-gyp install --fallback-to-build

So we may get more info?

[2017-11-19 07:51] ottlukas commented on #124
After execution
[code]
https://github.com/node-inspector/v8-debug/issues/7

[2017-11-20 08:43] astefanutti commented on #124
I would try something like:

    $ npm cache clean
    $ sudo npm install -g --unsafe-perm hummus
    $ sudo npm install -g --unsafe-perm decktape

[2017-11-20 09:57] ottlukas commented on #124
[code]
Still same result:

[code]

[2017-11-20 15:13] Nicolabo commented on #122
Yes, I updated decktape and still, the problem occurs.

[2017-11-20 15:18] astefanutti commented on #122
Could you share your presentation sample, or at least the PDF output?

[2017-11-20 15:23] Nicolabo commented on #122
I just included ratio: 16:9 to remark intro slide deck.

[code]

.slides[
  .first[
  ### Slide 1
  This is slide 1
  ]
  .second[
  ### Slide 2
  This is slide 2
  ]
]

Regular Markdown rules apply with only a single exception:

  - A line containing three dashes constitutes a new slide
  (not a horizontal rule, `&lt;hr /&gt;`)

Have a look at the [Markdown website](http://daringfireball.net/proj